{% extends 'base.html.twig' %}

{% block title %}Compléter les informations{% endblock %}

{% block content %}

    <h1>Complétez vos informations</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.civility) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    {{ form_row(form.checked)}}
    <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

{% endblock %}