{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block content %}

	<div class="container col-xl-10 col-xxl-8 px-4 py-5">
		<div class="row align-items-center g-lg-5 py-5">
			<div class="col-lg-7 text-center text-lg-start">
				<h1 class="display-4 fw-bold lh-1 mb-3">Inscrivez-vous</h1>
				<p>Afin de suivre la progression de votre demande</p>
				<div class="login">
					<h6>Vous êtes membre ?</h6>
					<p>Connectez-vous-en suivant ce lien <a href="{{ url('app_login') }}">Je me connecte</a>.</p>
				</div>
			</div>
			<div class="col-md-10 mx-auto col-lg-5">
				{{ form_start(formRegister, {attr: {'class' : 'p-4 p-md-5 border rounded-3'}}) }}
					<div>
						<label for="nom" class="sr-only">Nom</label>
						{{ form_row(formRegister.nom) }}
						{{ form_errors(formRegister.nom) }}
					</div>
					<div>
						<label for="prenom" class="sr-only">Prenom</label>
						{{ form_row(formRegister.prenom) }}
						{{ form_errors(formRegister.prenom) }}
					</div>
					<div>
						<label for="nom" class="sr-only">Civilité</label>
						{{ form_row(formRegister.civility) }}
						{{ form_errors(formRegister.civility) }}
					</div>
					<div>
						<label for="email-address" class="sr-only">Identifiant de connexion</label>
						{{ form_widget(formRegister.email) }}
						{{ form_errors(formRegister.email) }}
					</div>
					<div>
						<label for="password" class="sr-only">Mot de passe</label>
						{{ form_row(formRegister.password.first) }}
					</div>
					<div>
						<label for="repeat-password" class="sr-only">Répétez votre mot de passe</label>
						{{ form_row(formRegister.password.second) }}
					</div>
					<div>
						{{ form_row(formRegister.checked) }}
						{{ form_errors(formRegister.checked) }}
					</div>
					<button type="submit" class="btn btn-primary">Je m'inscris</button>
				{{ form_end(formRegister) }}
			</div>
		</div>
	</div>
{% endblock %}
