{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block content %}

    <!-- Page Title
         ============================================= -->
    <section class="page-title bg-primary border-bottom-0">
        <div class="container">
            <div class="page-title-row">

                <div class="page-title-content">
                    <div class="d-flex align-items-center">
                        <img src="{% if app.user %}{{ asset('uploads/avatar/'~app.user.avatar) }} {% else %} {{ asset('uploads/avatar/support0.svg') }} {% endif %}" width="35" height="35" class="rounded-circle me-3 border border-width-3 border-white" alt="{{ app.user.username }}" width="120" height="120">
                        <div>
                            <h2 class="h1 border-bottom border-dark border-width-4" style="font-weight: 800;color:white;">Profil de {{ app.user.prenom }}</h2>
                            <p class="mb-0 text-white-50">Rôle du forum : <strong>{% for role in app.user.roles %}{{ role }}{% if not loop.last %}, {% endif %}{% endfor %}</strong></p>
                            <a href="{{ url('front_Subjects_new') }}" class="btn btn-secondary">Écrire au support</a>
                        </div>
                    </div>
                </div>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="alt-color" href="{{ url('front_home') }}">Accueil</a></li>
                        <li class="breadcrumb-item text-black-50 active" aria-current="page">{{ app.user.username }}</li>
                    </ol>
                </nav>

            </div>
        </div>
    </section>

    <div class="container">
        <h6>Modification du profil de {{ app.user.username }}</h6>

        {{ form_start(form) }}

        <div class="form-group">
            <!-- Champ Civilité -->
            {{ form_label(form.civility) }}
            {{ form_widget(form.civility) }}
            {{ form_errors(form.civility) }}
        </div>

        <!-- Champ Nom -->
        <div class="form-group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nom) }}
        </div>

        <!-- Champ Prénom -->
        <div class="form-group">
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.prenom) }}
        </div>

        <!-- Champ Email -->
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <!-- Champ Avatar -->
        <div class="form-group">
            {{ form_label(form.avatar) }}
            {{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.avatar) }}
        </div>

        <!-- Champ Mot de passe -->
        <div class="form-group">
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.password.first) }}
        </div>

        <div class="form-group">
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.password.second) }}
        </div>

        <div class="container">
            <button id="btnEditProfile" type="submit" class="btn btn-success">Modifier</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}