{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block content %}

    <!-- Page Title
		============================================= -->
    <section class="page-title bg-color border-bottom-0">
        <div class="container">
            <div class="page-title-row">

                <div class="page-title-content">
                    <div class="d-flex align-items-center">
                        <img src="{{ asset({{ asset('/uploads/avatar/'~app.user.avatar) }}" width="35" height="35" class="rounded-circle me-3 border border-width-3 border-white" alt="{{ app.user.username }}" width="120" height="120">
                        <div>
                            <h2 class="h1 border-bottom border-dark border-width-4" style="font-weight: 800">Profil de {{ app.user.username }}</h2>
                            <p class="mb-0">Rôle du forum : <strong>{% for role in app.user.roles %}{{ role }}{% endfor %}</strong></p>
                        </div>
                    </div>
                </div>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="alt-color" href="{{ url('front_home') }}">Accueil</a></li>
                        <li class="breadcrumb-item text-black-50 active" aria-current="page">{{ app.user.username }}</li>
                    </ol>
                </nav>

            </div>
        </div>
    </section>

    <!-- Page Sub Menu
   ============================================= -->
    <div id="page-menu" class="no-sticky">
        <div id="page-menu-wrap" class="bg-alt">
            <div class="container">
                <div class="page-menu-row">

                    <nav class="page-menu-nav">
                        <ul class="page-menu-container">
                            <li class="page-menu-item"><a href="{{ url('front_profile') }}"><div>Profil</div></a></li>
                            <li class="page-menu-item"><a href="{{ url('front_user_subject', {id: app.user.id}) }}"><div>Sujets abordés</div></a>
                            </li>
                            <li class="page-menu-item current"><a href="#"><div>Réponses créées</div></a></li>
                            <li class="page-menu-item"><a href="{{ url('front_edit_profile') }}"><div>Modifier</div></a></li>
                        </ul>
                    </nav>

                    <div id="page-menu-trigger"><i class="bi-list"></i></div>

                </div>
            </div>
        </div>
    </div><!-- #page-menu end -->

    <div class="container">
        <h1>Réponses apportées de {{ app.user.username }} ({{ app.user.comments|length }})</h1>
        {% for comment in app.user.comments %}
            <div class="col-xs-3"><a href="{{ url('front_articles_show', {slug: article.slug}) }}">{{ comment.content }}</a><div class="col-xs-3"><img src="{{ asset('uploads/avatar/'~app.user.avatar) }}" width="35" height="35" class="rounded-circle me-3 border border-width-3 border-white" alt="{{ app.user.username }}" width="120" height="120">
                </div></div>
        {% endfor %}
    </div>
{% endblock %}