{#
{% extends 'base_back.html.twig' %}

{% block content %}

    <h1>Articles</h1>

    <a href="{{ url('back_articles_new') }}">Ajouter un nouvel article</a>

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <table class="table-light">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Categorie</th>
                <th>Date de création</th>
                <th>Auteure</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title}}</td>
                    <td>
                        {% for category in article.categories %}
                            {{ category.name }} {% if loop.last != true %}/{% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ article.createdAt|date('d-m-Y') }}</td>
                    <td>{{ article.user.username }}</td>
                    <td>
                        {% if article.active == true %}
                            Activé
                        {% else %}
                            Désactivé
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('back_articles_show', {slug: article.slug }) }}">Voir</a>
                        <a href="{{ url('back_articles_edit', {id: article.id }) }}">Editer</a>
                        <a href="{{ url('back_articles_disable', {id: article.id }) }}">Désactivé</a>
                        <a href="{{ url('back_articles_remove', {id: article.id }) }}">Supprimé</a>
                    </td>
                </tr>
            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(articles) }}
            </div>
        </tbody>
    </table>

{% endblock %}#}
