<!-- rts-footer-area one -->
<div class="rts-footer-area-one rts-section-gapTop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="grid-lines-wrapper">
                    <div class="grid-lines">
                        <div class="grid-line"></div>
                        <div class="grid-line"></div>
                        <div class="grid-line"></div>
                        <div class="grid-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rts-section-gapBottom">
            <div class="col-lg-12">
                <div class="footer-main-wrapper-one">
                    <!-- footer left area start -->
                    <div class="footer-left-area">
                        <a href="{{ url('front_home') }}" class="logo-footer">
                            <img src="{{ asset('assets/front/img/logo-footer.png') }}" alt="ScriptZenIT - Agence de création">
                        </a>
                        <p class="disc">
                            Le processus de travail de l'agence ScriptZenIT est une véritable fusion d'art et de
                            technologie, où chaque projet est abordé avec une précision méticuleuse. Notre expertise en
                            stratégie, design et développement garantit des solutions numériques exceptionnelles et uniques.
                        </p>
                        <div class="rts-social-area-one">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer left area end -->
                    <!-- footer single wized start -->
                    <div class="footer-single-wized-start">
                        <h5 class="title">Liens utile</h5>
                        <ul class="footer-nav">
                            <li><a href="{{ url('front_about') }}">L'agence</a></li>
                            <li><a href="{{ url('front_project') }}">Nos Réalisations</a></li>
                            <li><a href="{{ url('front_devis_new') }}">Nos tarifs</a></li>
                            <li><a href="{{ url('front_contact') }}">Contactez-moi</a></li>
                        </ul>
                    </div>
                    <!-- footer single wized end -->
                    <!-- footer single wized start -->
                    <div class="footer-single-wized-start">
                        <h5 class="title">Contact Info</h5>
                        <div class="mail-contact-area">
                            <div class="single-con-info mb--40">
                                <a href="#">
                                    Yonne, France.
                                </a>
                            </div>
                            <div class="single-con-info mail">
                                <a href="#">
                                    support@scriptzenit.fr
                                </a>
                            </div>
                            <div class="single-con-info">
                                <a href="tel:0762972691">
                                    +33 (0)7 62 97 26 91
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- footer single wized end -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-area text-center">
                    <div class="left">
                        <p>2023 © <a href="#">ScriptZenIT</a>. Tous droits réservé.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts-footer-area one end -->


<div class="bg-noise"></div>


<!-- back to top start -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
</div>
<!-- back to top end -->