<!-- Header -->
<header id="site_header" class="header">
	<div
		class="header-content clearfix">

		<!-- Text Logo -->
		<div class="logo">
			<a href="{{ url('front_home') }}">
				<img src="{{ asset('img/digitalit.png')}}" width="10%" height="10%" alt="Agence web à nevers (58)">
			</a>
			<a href="{{ url('front_home') }}">
				<div class="logo-text">Digital
					<span>iT</span>
				</div>
			</a>
		</div>
		<!-- /Text Logo -->

		<!-- Navigation -->
		<div class="site-nav mobile-menu-hide">
			<ul class="leven-classic-menu site-main-menu">
				<li class="menu-item">
					<a href="{{ url('front_home') }}">Accueil</a>
				</li>

				<li class="menu-item">
					<a href="{{ url('front_about')}}">A propos de moi</a>
				</li>

				<li class="menu-item">
					<a href="{{ url('front_project') }}">Ce que je propose</a>
				</li>

				<li class="menu-item">
					<a href="{{ url('front_devis_new') }}">Faire une demande</a>
				</li>

				<li class="menu-item">
					<a href="{{ url('front_assistance')}}">Assistance</a>
				</li>
				{% if is_granted('ROLE_USER') %}
					<li class="menu-item">
						<a href="{{ url('app_logout') }}" class="btn btn-outline-danger">Déconnexion</a>
					</li>
				{% endif %}

				{% if is_granted('ROLE_ADMIN') %}
					<li class="menu-item">
						<a href="{{ url('back_index') }}" class="btn btn-outline-danger">Admin panel</a>
					</li>
				{% endif %}
			</ul>
		</div>

		<a class="menu-toggle mobile-visible">
			<i class="fa fa-bars"></i>
		</a>
	</div>
</header>
<!-- /Header -->
