
<header id="header">
	<nav class="navbar container">
		<!-- Text Logo -->
		<div class="logo">
			<a href="{{ url('front_home') }}">
				<img src="{{ asset('img/logo.png')}}" class="d-sm-none d-md-block d-lg-block" width="10%" height="10%" alt="Agence web à nevers (58)">
			</a>
			<a href="{{ url('front_home') }}">
				<div class="logo-text">ScriptZen
					<span>iT</span>
				</div>
			</a>
		</div>
		<!-- /Text Logo -->
		<div class="burger" id="burger">
			<span class="burger-line"></span>
			<span class="burger-line"></span>
			<span class="burger-line"></span>
		</div>
		<div class="menu" id="menu">
			<ul class="menu-inner">

				<li class="menu-item"><a href="{{ url('front_home') }}" class="menu-link">Accueil</a></li>

				<a href="{{ url('front_about')}}" class="menu-link">A propos de moi</a>
				<a href="{{ url('front_project') }}" class="menu-link">Ce que je propose</a>
				{% if app.user %}
					<li class="menu-item">
						<a href="{{ url('front_assistance') }}" class="menu-link">Assistance</a>
					</li>
				{% else %}
					<li class="menu-item">
						<a href="{{ url('front_devis_new') }}" class="menu-link">Faire une demande</a>
					</li>
					<li class="menu-item">
						<a href="{{ url('app_login') }}" class="btn btn-outline-info">Connexion</a>
					</li>
				{% endif %}
				{% if app.user %}
					<li class="menu-item">
						<a href="{{ url('app_logout') }}" class="btn btn-outline-danger">Déconnexion</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li class="menu-item">
						<a href="{{ url('back_index') }}" class="btn btn-outline-danger">Admin panel</a>
					</li>
				{% endif %}
			</ul>
		</div>
		{#<button id="switch">Dark mode</button>#}
	</nav>
</header>