    {{ form_start(form, { 'attr': { 'action': path('front_search'), 'class': 'form' } }) }}

    {{ form_errors(form) }}

    <div class="block-search-term">
        <div class="input-group">

            {{ form_widget(form.term, { 'attr': { 'class': 'input-search' } }) }}

            <div class="input-group-btn">
                <button class="btn btn-light border-0" type="submit"><i class="uil uil-search"></i></button>
            </div>
        </div>
    </div>

    {{ form_errors(form.term) }}

    {{ form_rest(form) }}

    {{ form_end(form) }}