{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block content %}

	<div class="container">
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ type }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}
	</div>

	{# Hero #}
	<section class="section-header section-sm bg-secondary text-white vh-100">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-12 col-md-7 col-lg-6 text-center text-md-left intro">
					<h1 class="display-2 mb-4">Agence numérique <br> <span class="inline-block" style="background-color: dodgerblue;">Basée dans la Nièvre</span></h1>
					<p class="lead mb-4 text-muted">Grâce à mon expertise en développement Web, je vous aide à créer un site professionnel
						et attractif, adapté à tous les appareils. La sécurité des données est une priorité, et je propose
						des solutions de gestion de contenu faciles à utiliser.</p>
					<div class="flex-sm-column button_home">
						<a href="{{ url('front_devis_new') }}" class="btn btn-tertiary mr-3 animate-up-2 inline-block">Obtenir un devis en 24h <span class="ml-2"><span class="fas fa-arrow-right"></span></span></a>
						<a href="#agence" class="btn btn-danger mr-3 animate-up-2 inline-block">Découvrir l'agence<span class="ml-2"><span class="fas fa-arrow-down"></span></span></a>
					</div>
				</div>
				<div class="col-12 col-md-5 d-none d-md-block text-center"><img src="{{ asset('img/support/support1.svg') }}" alt="scriptzenit" height="70"></div>
			</div>
		</div>
	</section>

	<div class="container mt-5 flex-row-reverse" id="agence">
		<h1 class="display-5 fw-bold lh-1 mb-3 text-center">Des solutions de développement web adaptées à tous les besoins</h1>
		<p class="lead mb-4 text-muted text-center">Je conçois la solution optimale de développement web pour chaque
			situation spécifique, qu'il s'agisse de développer une plateforme complète ou de mettre en place des outils précis
			pour vos besoins uniques.
		</p>
	</div>
	{# End of Hero section #}

	{# Solutions   #}

	<h1 class="display-4 fw-bold text-center">Processus</h1>

	<section style="padding: 52px 40px 60px;">
		<div class="container">
			{#<div class="row">
				<div class="col-12 col-md-6 col-lg-4 mb-5">
					<div class="card shadow-soft border-light">
						<div class="card-header p-0">
							<img src="{{ asset('img/support/support0.svg')}}" class="card-img-top rounded-top" alt="image">
						</div>
						<div class="card-body">
							<h3 class="card-title mt-3">Préparation / communication</h3>
							<p class="card-text">En comprenant le besoin unique de votre entreprise et de votre marché local, je m'efforce de fournir une solution de développement web et mobile personnalisée qui vous aidera à atteindre vos objectifs spécifiques.</p>
							<ul class="list-group d-flex justify-content-center mb-4">
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Définition des besoins et objectifs</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Évaluation technique</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Suivi et reporting de la demande</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mb-5">
					<div class="card shadow-soft border-light">
						<div class="card-header p-0">
							<img src="{{ asset('img/support/support2.svg')}}" class="card-img-top rounded-top" alt="image">
						</div>
						<div class="card-body">
							<h3 class="card-title mt-3">Prêt à vous lancer ?</h3>
							<p class="card-text">Lorsqu'une demande est créée par un client sur notre plateforme, un processus soigneusement conçu est déclenché pour s'assurer que chaque demande est correctement enregistrée et prise en compte.</p>
							<ul class="list-group d-flex justify-content-center mb-4">
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Conception tout écrans</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Optimisation SEO</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Gestion de la performance du site</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mb-5">
					<div class="card shadow-soft border-light">
						<div class="card-header p-0">
							<img src="{{ asset('img/support/support3.svg')}}" class="card-img-top rounded-top" alt="image">
						</div>
						<div class="card-body">
							<h3 class="card-title mt-3">Gestion des Tickets</h3>
							<p class="card-text">Notre système de tickets offre un suivi détaillé de chaque demande. Traquez chaque ticket, de sa création à sa résolution, peu importe leur nombre.</p>
							<ul class="list-group d-flex justify-content-center mb-4">
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Suivi quotidien des tickets</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Support multiplateforme (web et mobile)</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Gestion des tickets et de la demande</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>#}

	{# ./ Solutions #}

	{# Services de l'Agence #}
	{#<div class="container p-5 100-vh">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="block-title">
					<h2>Notre Processus</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="info-list-w-icon">
					<div class="info-block-w-icon">
						<div class="ci-icon">
							<i class="fas fa-lightbulb"></i>
						</div>
						<div class="ci-text">
							<h4>Brainstorming & Ergonomie</h4>
							<p class="lead mb-4 text-muted">Nous démarrons par des sessions de brainstorming créatives pour générer des idées novatrices. L'ergonomie est notre priorité, garantissant une expérience utilisateur exceptionnelle.</p>
						</div>
					</div>
					<div class="info-block-w-icon">
						<div class="ci-icon">
							<i class="fas fa-paint-brush"></i>
						</div>
						<div class="ci-text">
							<h4>Création & Webdesign</h4>
							<p class="lead mb-4 text-muted">Nos designers transforment vos idées en maquettes graphiques saisissantes, créant ainsi une identité visuelle unique pour votre site.</p>
						</div>
					</div>
					<div class="info-block-w-icon">
						<div class="ci-icon">
							<i class="fas fa-chart-line"></i>
						</div>
						<div class="ci-text">
							<h4>Contenus & Conversion</h4>
							<p class="lead mb-4 text-muted">Nous travaillons avec vous pour créer un contenu engageant qui captive votre audience et favorise la conversion, vous aidant ainsi à atteindre vos objectifs en ligne.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="info-list-w-icon">
					<div class="info-block-w-icon">
						<div class="ci-icon">
							<i class="fas fa-code"></i>
						</div>
						<div class="ci-text">
							<h4>Intégration & Développement</h4>
							<p class="lead mb-4 text-muted">Notre équipe transforme les maquettes en code HTML, CSS et PHP, donnant vie à votre site web et assurant son bon fonctionnement technique.</p>
						</div>
					</div>
					<div class="info-block-w-icon">
						<div class="ci-icon">
							<i class="fas fa-cogs"></i>
						</div>
						<div class="ci-text">
							<h4>Suivi / Statistiques</h4>
							<p class="lead mb-4 text-muted">Nous vous offrons un suivi dédié et vous fournissons des statistiques claires pour que vous puissiez suivre les performances de votre site.</p>
						</div>
					</div>
					<div class="info-block-w-icon">
						<div class="ci-icon">
							<i class="fas fa-search"></i>
						</div>
						<div class="ci-text">
							<h4>Référencement Naturel</h4>
							<p class="lead mb-4 text-muted">Nous mettons en place une stratégie de référencement naturel pour que votre site soit bien positionné sur les moteurs de recherche tels que Google.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>#}

		<ul class="process">
			<li class="process__item">
				<span class="process__number"><i class="fas fa-lightbulb"></i></span>
				<span class="process__title">Analyse &amp; Stratégie</span>
				<span class="process__subtitle">Nous analysons votre problème et développons une stratégie</span>
			</li>
			<li class="process__item">
				<span class="process__number"><i class="fas fa-file-alt"></i></span>
				<span class="process__title">Faire une Offre</span>
				<span class="process__subtitle">Nous vous fournissons une offre détaillée en fonction de notre analyse</span>
			</li>
			<li class="process__item">
				<span class="process__number"><i class="fas fa-cogs"></i></span>
				<span class="process__title">Développement</span>
				<span class="process__subtitle">Notre équipe de développement transforme la stratégie en réalité</span>
			</li>
			<li class="process__item">
				<span class="process__number"><i class="fas fa-check-circle"></i></span>
				<span class="process__title">Finalisation</span>
				<span class="process__subtitle">Nous effectuons les ajustements finaux et préparons la livraison</span>
			</li>
		</ul>
		</div>
	</section>
	<!-- Technologie et outils -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="block-title">
					<h2>Outils et technologies</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-1.png" alt="PHP">
					<h4>PHP 5/6/7/8.2</h4>
				</div>
			</div>

			<div class=" col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-2.png" alt="HTML 5 / CSS 3">
					<h4>HTML 5 / CSS 3</h4>
				</div>
			</div>

			<div class=" col-xs-12 col-sm-3 ">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-3.png" alt="Git">
					<h4>Git + SSH</h4>
				</div>
			</div>

			<div class=" col-xs-12 col-sm-3 ">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-4.png" alt="Symfony">
					<h4>Symfony 4/5/6</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-5.svg" alt="React">
					<h4>React / VueJs</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-7.png" alt="Sass">
					<h4>SaaS</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-8.svg" alt="Json web token(JWT)" class="text-center">
					<h4>Json web token</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-9.png" alt="Axios / Ajax" class="text-center">
					<h4>Axios/Ajax</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- ./ Outils et technologies -->

	<!-- FAQ -->

	{#<section class="py-5 py-sm-5">
		<div class="container-fluid p-5" >
			<div class="mb-5 text-center"><span class="display-4 font-weight-bold text-primary text-uppercase">VOUS AVEZ DES QUESTIONS ?</span>
				<h2 class="mt-2">Voici quelques réponses</h2>
			</div>
			<div class="col-md-8 mx-auto">
				<div id="accordion">
					<div class="card border-primary mb-2">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Calendrier de paiement et options
								</button>
							</h5>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								<p>La définition de la portée du projet est le fruit d'une collaboration avec mon client. Ensemble, nous définissons les principales caractéristiques, les fonctionnalités et les éventuelles contraintes qui façonneront le processus de conception. Cette clarté garantit que nous sommes alignés et que nous travaillons pour atteindre les mêmes objectifs.</p>
							</div>
						</div>
					</div>
				<p class="d-flex flex-wrap align-items-center justify-content-center"><span class="mr-1">Vous avez encore des questions ?</span><a class="btn btn-link font-weight-bold" href="{{ url('front_assistance') }}">Créez votre ticket maintenant !</a></p>
			</div>
		</div>
	</section>#}



	<!-- Pricing -->
	<div class="container">
		<div class="row">
			<div class=" col-xs-12 col-sm-12 ">
				<div class="block-title">
					<h2>Un large choix vous est proposé</h2>
					<p>Que vous soyez un particulier ou un professionnel !</p>
				</div>
			</div>

		</div>

		<div class="row">
			<div class=" col-xs-12 col-sm-12 ">
				<div class="fw-pricing clearfix row">

					<div class="fw-package-wrap col-md-6 ">
						<div class="fw-package">
							<div class="fw-heading-row">
								<span class="text-uppercase">Développement entreprise</span>
							</div>

							<div class="fw-pricing-row">
								<span>Un prix compétiteur et des fonctionnalités de bases</span>
							</div>

							<div class="fw-button-row">
								<a href="{{ url('front_devis_new', {'type': 'site_vitrine'}) }}" target="_self" class="btn btn-primary">Personnaliser</a>

							</div>

							<div class="fw-default-row">Vous êtes une marque souhaitant donner un coup de neuf à son site
								web ou une entreprise souhaitant redynamiser sa présence sur le web ? Optez pour une
								création d'application / site web sur mesure, dynamique et novateur. A votre image.
							</div>
						</div>
					</div>

					<div class="fw-package-wrap col-md-6 highlight-col ">
						<div class="fw-package">
							<div class="fw-heading-row">
								<span>DÉVELOPPEMENT SUR MESURE</span>
							</div>

							<div class="fw-pricing-row">
								<span>Pour un besoin spécifique</span>
							</div>

							<div class="fw-button-row">
								<a href="{{ url('front_devis_new', {'type': 'cross_plateforme'}) }}" target="_self" class="btn btn-primary">Personnaliser</a>

							</div>

							<div class="fw-default-row">Vous souhaitez aller un peu plus loin et vous avez en tête des
								fonctionnalités bien précises pour votre nouveau site internet ? Tout est possible
								techniquement, discutons ensemble de votre développement web sur mesure !
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Pricing -->
		</div>
	</div>

{% endblock %}
