{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue chez ScriptzenIT !
{% endblock %}

{% block content %}
	<div class="container">
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ type }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}
	</div>

	<main>
		<div class="px-4 pt-5 my-5 text-center border-bottom bg-home-image" style="height: 100vh;">
			<h1 class="display-4 fw-bold text-body-emphasis text-white">Agence Web dans la Nièvre</h1>
			<div class="col-lg-6 mx-auto">
				<p class="text-white rounded">En optant pour nos services sur notre plateforme, vous bénéficierez d'un ensemble d'outils de gestion de serveur pour superviser efficacement vos applications en temps réel. Vous aurez également la possibilité de télécharger votre demande dans un format PDF pour une consultation pratique. Chez ScriptzenIT, notre expertise en développement web ne se limite pas à la conception d'un site professionnel et séduisant. Nous nous engageons à vous accompagner au-delà de cette première phase, afin de garantir l'excellence de votre projet. Découvrez nos réalisations pour vous inspirer davantage vers la concrétisation de vos ambitions.</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
					<a href="{{ url('front_project') }}" class="btn btn-darken btn-primary">
						Voir nos réalisations<i class="bx bx-right-arrow-alt"></i>
					</a>
				</div>
			</div>
			<div class="overflow-hidden" style="max-height: 30vh;">
				<div class="container px-5">
					<img src="{{ asset('img/devis.png') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" loading="lazy">
				</div>
			</div>
		</div>
	</main>

	{# Section d'en-tête #}
	{#<section id="slider" class="slider-element bg-home-image" style="color: var(--bs-card-img-overlay-padding) !important;height: 100vh;">
		<div class="container">
			<div class="row align-items-md-end">
				<div class="col-lg-5 align-self-center flex-column">
					<div class="col-12 col-md-12 col-lg-12 rounded pt-5 block_information_home border-circle">
						<h1 class="display-2 text-center text-white"><strong>Agence Web dans la Nièvre</strong></h1>
						<p class="mb-4 text-justify text-white px-5">
							Avec notre expertise en développement Web, nous vous accompagnons dans la création d'un site professionnel et attractif. Mais chez ScriptzenIT, nous savons que l'excellence va au-delà de la première étape.
						</p>
					</div>
				</div>
				<div class="col-lg-7 dotted-bg man_mobile" style="position: absolute;bottom: 0;right: 0;">
					<img src="{{ asset('img/man.png') }}" alt="Client" class="d-flex align-self-end mt-5 z-1 mx-auto w-75">
				</div>
			</div>
		</div>
	</section>#}
	{# Fin de la section d'en-tête #}

	<!-- Pourquoi nous choisir -->
	<section class="py-3 py-md-5">
		<div class="container">
			<div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
				<div class="col-12 col-lg-6">
					<img class="img-fluid rounded" loading="lazy" src="{{ asset('img/before.png') }}" alt="Pourquoi nous choisir">
				</div>
				<div class="col-12 col-lg-6">
					<div class="row justify-content-xl-center">
						<div class="col-12 col-xl-10">
							<h2 class="mb-3">Faites confiance à ScriptzenIT !</h2>
							<p class="lead text-justify">Fondée en 2023, ScriptzenIT fait son entrée dans le domaine numérique en redéfinissant les frontières de l'innovation et de l'excellence. Portée par une vision avant-gardiste, notre entreprise s'engage à remodeler le monde numérique.</p>
							<p class="lead text-justify">Chez ScriptzenIT, nous plaçons nos clients au cœur de notre approche. Nous collaborons avec des entreprises de toutes tailles et de tous secteurs pour concevoir des stratégies sur mesure répondant précisément à leurs besoins et objectifs spécifiques.</p>
							<div class="d-flex align-items-center mb-3">
								<div class="me-3 text-primary">
									<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
									</svg>
								</div>
								<div>
									<p class="fs-5 m-0">Notre approche est centrée sur vous, nos chers clients.</p>
								</div>
							</div>
							<div class="d-flex align-items-center mb-3">
								<div class="me-3 text-primary">
									<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
									</svg>
								</div>
								<div>
									<p class="fs-5 m-0">Nous nous engageons à dépasser vos attentes à chaque étape de notre collaboration.</p>
								</div>
							</div>
							<a href="{{ url('app_login') }}" class="btn bsb-btn-xl btn-outline-primary rounded-pill">Connectez-vous maintenant</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Fin de Pourquoi nous choisir -->

	<!-- Processus -->
	<h1 class="display-4 fw-bold text-center">Notre Processus</h1>

	{# Services de l'Agence #}
	<section>
		<div class="container">
			<ul class="process">
				<li class="process__item">
                    <span class="process__number">
                        <i class="fas fa-lightbulb"></i>
                    </span>
					<span class="process__title">Analyse & Stratégie</span>
					<span class="process__subtitle text-justify">Nous analysons vos problèmes et développons une stratégie sur mesure pour répondre à vos besoins spécifiques.</span>
				</li>
				<li class="process__item">
                    <span class="process__number">
                        <i class="fas fa-pen-nib"></i>
                    </span>
					<span class="process__title">Conception & Design</span>
					<span class="process__subtitle text-justify">Nous créons des designs uniques et attrayants qui reflètent votre marque et captivent votre public cible.</span>
				</li>
				<li class="process__item">
                    <span class="process__number">
                        <i class="fas fa-laptop-code"></i>
                    </span>
					<span class="process__title">Développement & Intégration</span>
					<span class="process__subtitle text-justify">Notre équipe de développeurs talentueux transforme les designs en sites Web interactifs et fonctionnels.</span>
				</li>
				<li class="process__item">
                    <span class="process__number">
                        <i class="fas fa-rocket"></i>
                    </span>
					<span class="process__title">Lancement & Support</span>
					<span class="process__subtitle text-justify">Nous assurons un lancement en douceur et offrons un support continu pour garantir la performance et la sécurité de votre site Web.</span>
				</li>
			</ul>
		</div>
	</section>
	<!-- Fin du Processus -->

	<!-- Réalisations -->
	<section class="pb-5">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="font-weight-bold">Nos Réalisations</h2>
					<p class="lead text-muted">Découvrez quelques-unes de nos réalisations les plus récentes.</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div id="content" class="container page-content site-content single-post" role="main">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<!-- Portfolio Content -->
							<div id="portfolio_content_q" class="portfolio-content">
								<ul class="portfolio-filters">
									<li>
										<a class="filter btn btn-sm btn-link" data-group="toutes_categories">Toutes les catégories</a>
									</li>
									<li>
										<a class="filter btn btn-sm btn-link" data-group="détaillé">Projets Détaillés</a>
									</li>
									<li>
										<a class="filter btn btn-sm btn-link" data-group="lien-direct">Liens fonctionnels</a>
									</li>
									<li>
										<a class="filter btn btn-sm btn-link" data-group="prototype">Prototype</a>
									</li>
								</ul>

								<!-- Portfolio Grid -->
								<div class="portfolio-grid four-columns shuffle">
									{% for project in projects %}
										{% set dataGroups = ['toutes_categories'] %}

										{% if 'détaillé' in project.category %}
											{% set dataGroups = dataGroups|merge(['détaillé']) %}
										{% endif %}
										{% if 'lien-direct' in project.category %}
											{% set dataGroups = dataGroups|merge(['lien-direct']) %}
										{% endif %}
										{% if 'prototype' in project.category %}
											{% set dataGroups = dataGroups|merge(['prototype']) %}
										{% endif %}

										<figure class="item standard" data-groups='["{{ dataGroups|join('", "') }}"]'>
											<div class="portfolio-item-img">
												{% for image in project.images %}
													<img src="{{ asset('image_project/'~image.name) }}" alt="{{ image.name }}"/>
												{% endfor %}
												<a href="{{ url('front_project_show', {id: project.id}) }}"></a>
											</div>

											<i class="far fa-file-alt"></i>
											{# <h4 class="name">{{ project.title }}</h4> #}
											<span class="category">{{ project.category|join(', ')|title }}</span>
										</figure>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Fin des Réalisations -->

	{# Section Project  #}

	<section>
		<div class="container-fluid">
			<div class="row align-items-center bg-black justify-content-center px-5 text-white 100-vh">
				<div class="col-md-4 mt-3">
					<h1>BESOIN D'ÉCLAIRAGE ?</h1>
					<p class="text-white text-justify">Transformez les défis techniques en opportunités. Lorsque vous êtes confronté à des problèmes techniques, vous faites face à des occasions de grandir et d'apprendre, discutons-en !</p>
					<a href="https://calendly.com/walid_belbeche/expertise-offerte" class="text-warning">Réserver un appel de découverte</a>
				</div>
				<div class="col-md-8 pt-5 pb-5">
					<img src="{{ asset('img/home_section.webp') }}" alt="agence web dans la Nièvre (58)" height="100%">
				</div>
			</div>
		</div>
	</section>

	<br>

	{# Technologie et outils #}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="block-title">
					<h2>Outils et technologies</h2>
				</div>
			</div>
		</div>
		<div class="row" id="specs">
			<div class="col-xs-12 col-sm-3 vh-30">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-1.png" alt="PHP">
					<h4>PHP</h4>
				</div>
			</div>

			<div class="col-xs-12 col-sm-3 vh-30">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-2.png" alt="HTML 5 / CSS 3">
					<h4>HTML 5 / CSS 3</h4>
				</div>
			</div>

			<div class=" col-xs-12 col-sm-3 vh-30">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-3.png" alt="Git">
					<h4>Git + SSH</h4>
				</div>
			</div>

			<div class=" col-xs-12 col-sm-3 vh-30">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-4.png" alt="Symfony">
					<h4>Symfony</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 vh-30">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-5.svg" alt="React">
					<h4>React / VueJs</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 vh-30">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-7.png" alt="Sass">
					<h4>SaaS</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 vh-30">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-8.svg" alt="Json web token(JWT)" class="text-center">
					<h4>Json web token</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 vh-30">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-9.png" alt="Axios / Ajax" class="text-center">
					<h4>Axios/Ajax</h4>
				</div>
			</div>
		</div>
	</div>
	{# ./ Technologie et outils #}

	<!-- Pricing -->
	<div class="container">
		<div class="row">
			<div class=" col-xs-12 col-sm-12 ">
				<div class="block-title">
					<h2>Un large choix vous est proposé</h2>
					<p>Pour professional, Artisans, jeune entreprise</p>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 ">
				<div class="fw-pricing clearfix row">

					<div class="fw-package-wrap col-md-4 ">
						<div class="fw-package">
							<div class="fw-heading-row">
								<span class="text-uppercase">Expertise Offerte</span>
							</div>

							<div class="fw-pricing-row">
								<span>Un échange convivial avec des réponses</span>
							</div>

							<div class="fw-button-row">
								<a href="https://calendly.com/walid_belbeche/expertise-offerte" target="_self" class="btn btn-primary">Réserver</a>

							</div>

							<div class="fw-default-row text-justify">Vous souhaitez être accompagné dans le développement de votre solution numérique ? Discutons ensemble de vos besoins</div>
						</div>
					</div>

					<div class="fw-package-wrap col-md-4 ">
						<div class="fw-package">
							<div class="fw-heading-row">
								<span class="text-uppercase">Développement entreprise</span>
							</div>

							<div class="fw-pricing-row">
								<span>Un prix compétitif avec des fonctionnalités de bases</span>
							</div>

							<div class="fw-button-row">
								<a href="{{ url('front_devis_new', {'type': 'site_vitrine'}) }}" target="_self" class="btn btn-primary">Personnaliser</a>

							</div>

							<div class="fw-default-row text-justify">Vous êtes une marque souhaitant donner un coup de neuf à son site
								web ou une entreprise souhaitant redynamiser sa présence sur le web ? Optez pour une
								création d'application / site web sur mesure, dynamique et novateur. A votre image.
							</div>
						</div>
					</div>

					<div class="fw-package-wrap col-md-4">
						<div class="fw-package pt-5">
							<div class="fw-heading-row">
								<span>DÉVELOPPEMENT SUR MESURE</span>
							</div>

							<div class="fw-pricing-row">
								<span>Pour un besoin spécifique</span>
							</div>

							<div class="fw-button-row">
								<a href="{{ url('front_devis_new', {'type': 'cross_plateforme'}) }}" target="_self" class="btn btn-primary">Personnaliser</a>

							</div>

							<div class="fw-default-row text-justify">Vous souhaitez aller un peu plus loin en ajoutant des fonctionnalités bien précises pour votre nouveau site internet ? Discutons ensemble de votre développement web sur mesure !
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Pricing -->
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="p-20"></div>

				<!-- Testimonials -->
				<div class="block-title">
					<h2>Ils en parlent mieux que nous</h2>
				</div>

				<div id="testimonials_1" class="testimonials owl-carousel" data-mobile-items="1" data-tablet-items="2" data-items="2">
					<!-- Testimonial 1 -->
					<div class="testimonial-item">
						<!-- Testimonial Content -->
						<div class="testimonial-content">
							<!-- Picture -->
							<div class="testimonial-picture">
								<img src="{{ asset('img/sunday.png') }}" alt="Alain Tixier"/>
							</div>
							<!-- /Picture -->

							<!-- Testimonial Text -->
							<div class="testimonial-text">
								<p>La Nièvre c’est loin, mais heureusement il y a internet pour bosser !</p>
							</div>
							<!-- /Testimonial Text -->

							<!-- Testimonial author information -->
							<div class="testimonial-author-info">
								<h5 class="testimonial-author">Alain Tixier</h5>
								<p class="testimonial-firm">CEO SPIN OFF</p>
							</div>
							<!-- /Testimonial author information -->

							<div class="testimonial-icon">
								<i class="fa fa-quote-left"></i>
							</div>

							<div class="testimonial-icon-big">
								<i class="fa fa-quote-right"></i>
							</div>
						</div>
						<!-- /Testimonial Content -->
					</div>
					<!-- End of Testimonial 1 -->

					<!-- Testimonial 2 -->
					<div class="testimonial-item">
						<!-- Testimonial Content -->
						<div class="testimonial-content">
							<!-- Picture -->
							<div class="testimonial-picture">
								<img src="{{ asset('img/plomber.png') }}" alt="Pascal Stier"/>
							</div>
							<!-- /Picture -->

							<!-- Testimonial Text -->
							<div class="testimonial-text">
								<p>très bonne prestation .je recommande. demandez lui ce qui vous intéresse il va vous le réaliser.</p>
							</div>
							<!-- /Testimonial Text -->

							<!-- Testimonial author information -->
							<div class="testimonial-author-info">
								<h5 class="testimonial-author">Pascal Stier</h5>
								<p class="testimonial-firm">Dirigeant Entreprise STIER</p>
							</div>
							<!-- /Testimonial author information -->

							<div class="testimonial-icon">
								<i class="fa fa-quote-left"></i>
							</div>

							<div class="testimonial-icon-big">
								<i class="fa fa-quote-right"></i>
							</div>
						</div>
						<!-- /Testimonial Content -->
					</div>
					<!-- End of Testimonial 2 -->
				</div>
				<!-- /Testimonials -->

				<div class="p-40"></div>

				<div class="text-white bg-tertiary text-center pt-5 pb-5" id="agence">
					<h1 class="display-5 fw-bold lh-1 mb-3 text-center">Soyez Zen, On s'occupe de tout !</h1>
					<p class="fw-bold mb-3 text-center lead text-white px-5 text-justify">Transitionnez de la planification au site grâce à ScriptZenIT, le créateur de sites Web destiné aux professionnels et aux artisans.</p>
					<div class="ask">
						<a href="{{ url('front_devis_new') }}" class="btn btn-black mr-3 animate-up-2 inline-block text-white">Démarrer ma demande
							<span class="ml-2">
									<span class="fas fa-arrow-right"></span>
								</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="thank-you">
			<h2>Merci d'avoir visité notre site !</h2>
			<p>Nous apprécions votre visite. Si vous avez des questions, des commentaires ou avez besoin de plus d'informations, n'hésitez pas à nous contacter.</p>
			<a href="{{ url('front_contact') }}" class="btn btn-primary">Nous contacter</a>
			<!-- Avis Google -->
			<div class="text-center">
				<a class="nav-link" href="https://g.page/r/CSj9BKNjCGCBEAI/review">
					<img src="{{ asset('img/rating.png')}}" class="mx-auto bg-transparant" alt="évaluez-nous" width="10%" height="10%">Évaluez-nous
				</a>
			</div>
		</div>
	</div>

{% endblock %}