{% extends 'base.html.twig' %}

{% block title %}Wee - Portfolio
{% endblock %}

{% block content %}

    <!-- Home Page Top Part -->
    <div class="row">
        <div class=" col-xs-12 col-sm-12">
            <div class="home-content">
                <div class="row flex-v-align">

                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <div class="home-photo">
                            <div class="hp-inner" style="background-image: url(./img/profil.png);">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-7 col-lg-7">
                        <div class="home-text hp-left">
                            <div class="owl-carousel text-rotation">
                                <div class="item">
                                    <h4>Walid BELBECHE</h4>
                                </div>
                                <div class="item">
                                    <h4>Créateur de site internet</h4>
                                </div>
                            </div>

                            <h1>BRIEF PRESENTATION </h1>
                            <p>
                                Je m'appelle Walid, j'ai 28 ans et je suis en contrat d'apprentissage avec l'école
                                Doranco Paris en tant que Concepteur développeur d'Applications Bachelor 3ème année.

                                Actuellement, je suis en recherche d'une opportunité dans le domaine du développement
                                sur Paris, en île de France, où bien en Bourgogne Franche comté, je réside actuellement
                                dans la Nièvre (58).
                            </p>

                            <div class="home-buttons">
                                <a href="wb_cv_cda_in_progress_2023.pdf" target="_blank" class="btn btn-primary">Télécharger
                                    CV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-40"></div>

    <!-- Services -->
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="p-50"></div>

            <div class="block-title">
                <h2>Ce que je fais</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="info-list-w-icon">
                <div class="info-block-w-icon">
                    <div class="ci-icon">
                        <i class="linecons linecons-pen"></i>
                    </div>

                    <div class="ci-text">
                        <h4>BRAINSTORM & ERGONOMIE</h4>
                        <p>Étape essentielle du lancement de votre projet web, le brainstorm d’idées et le travail
                            d’ergonomie web vont permettre de poser les bases de votre futur site,seo, mockup sont des
                            mots qui feront bientôt partie de votre vocabulaire !</p>
                    </div>
                </div>

                <div class="info-block-w-icon">
                    <div class="ci-icon">
                        <i class="linecons linecons-display"></i>
                    </div>

                    <div class="ci-text">
                        <h4>CRÉATION & WEBDESIGN</h4>
                        <p>Des idées, c’est bien. Les mettre en en pratique, c’est encore mieux ! Le webdesign de votre
                            futur site internet est construit sous forme de maquettes (charte graphique) qui vous
                            permettront de cadrer graphiquement et de vous projeter sur votre outil.</p>
                    </div>
                </div>

                <div class="info-block-w-icon">
                    <div class="ci-icon">
                        <i class="linecons linecons-calendar"></i>
                    </div>

                    <div class="ci-text">
                        <h4>SUIVI / STATISTIQUES</h4>
                        <p>Un interlocuteur dédié, je vous assure que ça rassure. Des données chiffrées, ça rassure
                            aussi ! Je vous paramètre tout ça, et ça tombe dans votre boite mail, c’est beau la
                            technologie vous ne trouvez pas ?</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="info-list-w-icon">

                <div class="info-block-w-icon">
                    <div class="ci-icon">
                        <i class="linecons linecons-shop"></i>
                    </div>

                    <div class="ci-text">
                        <h4>INTÉGRATION & DÉVELOPPEMENT</h4>
                        <p>Là on va commencer à entrer dans le vif du sujet : la transformation des visuels en code
                            HTML, CSS et PHP ! C’est à ce moment que j'aborde le coté techniques et je vous
                            créererai le code de votre nouveau site internet, c’est tout ce qu’il faut retenir !</p>
                    </div>
                </div>

                <div class="info-block-w-icon">
                    <div class="ci-icon">
                        <i class="linecons linecons-megaphone"></i>
                    </div>

                    <div class="ci-text">
                        <h4>CONTENUS & CONVERSION</h4>
                        <p>Une Ferrari sans moteur, c’est beau mais ça n’avance pas ! Pour éviter le syndrome de la
                            coquille vide, il faudra rédiger du contenu . Ne vous inquiétez pas, j'ai l’habitude et des
                            rédacteurs seront là si besoin. Pas de panique !</p>
                    </div>
                </div>

                <div class="info-block-w-icon">
                    <div class="ci-icon">
                        <i class="linecons linecons-data"></i>
                    </div>

                    <div class="ci-text">
                        <h4>RÉFÉRENCEMENT NATUREL</h4>
                        <p>Cerise sur le gâteau ? Non pas tant que ça en fait. Un beau site tout neuf, ce serait dommage
                            qu’il ne soit pas référencé sur Google , vous ne trouvez pas ? Une stratégie SEO (aussi
                            appelé référencement naturel), simple et efficace ne mange pas de pain !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-40"></div>

    <!-- Clients Slider -->
    <div class="block-title">
        <h2> Technologies et outils </h2>
    </div>

    <div id="clients_1" class="clients owl-carousel" data-mobile-items="1" data-tablet-items="3" data-items="6">
        <div class="client-block">
            <img src="./img/clients/spec-1.png" alt="PHP">
        </div>

        <div class="client-block">
            <img src="./img/clients/spec-2.png" alt="HTML 5 / CSS 3">
        </div>

        <div class="client-block">
            <img src="./img/clients/spec-3.png" alt="Git">
        </div>

        <div class="client-block">
            <img src="./img/clients/spec-4.png" alt="Symfony">
        </div>

        <div class="client-block">
            <img src="./img/clients/spec-5.png" alt="React">
        </div>

        <div class="client-block">
            <img src="./img/clients/spec-6.png" alt="Javascript">
        </div>

        <div class="client-block">
            <img src="./img/clients/spec-7.png" alt="Sass">
        </div>
    </div>
    <!-- /Clients Slider -->

    <div class="p-40"></div>

    <!-- Pricing -->
    <div class="row">
        <div class=" col-xs-12 col-sm-12 ">
            <div class="block-title">
                <h2>Que souhaitez-vous faire ?</h2>
            </div>
        </div>

    </div>

    <div class="row">
        <div class=" col-xs-12 col-sm-12 ">
            <div class="fw-pricing clearfix row">

                <div class="fw-package-wrap col-md-6 ">
                    <div class="fw-package">
                        <div class="fw-heading-row">
                            <span>PRESENTATION ENTREPRISE</span>
                        </div>

                        <div class="fw-pricing-row">
                            <span>Sur devis</span>
                        </div>

                        <div class="fw-button-row">
                            <a href="{% if app.user %} {{ url('front_devis_new', {id : app.user.id}) }} {% else %} {{ url('app_login') }} {% endif %}"
                               target="_self" class="btn btn-secondary">Je fais une demande</a>
                        </div>

                        <div class="fw-default-row">Vous êtes une marque souhaitant donner un coup de neuf à son site
                            web ou une entreprise souhaitant redynamiser sa présence sur le web ? Optez pour une
                            création de site vitrine sur mesure, dynamique et novateur. A votre image.
                        </div>
                    </div>
                </div>

                <div class="fw-package-wrap col-md-6 highlight-col ">
                    <div class="fw-package">
                        <div class="fw-heading-row">
                            <span>DÉVELOPPEMENT SUR MESURE</span>
                        </div>

                        <div class="fw-pricing-row">
                            <span>Sur devis</span>
                        </div>

                        <div class="fw-button-row">
                            <a href="{% if app.user %} {{ url('front_devis_new', {id : app.user.id}) }} {% else %} {{ url('app_login') }} {% endif %}"
                               target="_self" class="btn btn-primary">Je fais ma demande</a>
                        </div>

                        <div class="fw-default-row">Vous souhaitez aller un peu plus loin et vous avez en tête des
                            fonctionnalités bien précises pour votre nouveau site internet ? Tout est possible
                            techniquement, discutons ensemble de votre développement web sur mesure !
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Pricing -->
    </div>


    <!-- /Services -->
    <!-- Home Page Top Part -->
    <!-- End Features Area -->
    {#  <div class="container col-xxl-8 px-4 py-5">
			<h1 class="display-5 fw-bold lh-1 mb-3">Création de site web</h1>
			<p class="lead">Aujourd'hui la pluspart de nos utilisateurs sont connectés.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a href="{{ url('app_register') }}" class="btn btn-primary btn-lg px-4 me-md-2">Devis en ligne</a>
				<a href="#" class="btn btn-outline-secondary btn-lg px-4">Portfolio</a>
			</div>
		</div>

		<!-- start services -->
		<section class="section bg-gradient-light-white" id="services">
			<div class="container">
				<div class="row justify-content-center mb-4">
					<div class="col-12 col-md-10 col-lg-7 text-center">
						<span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Mes services</span>
						<h2 class="fs-2 fw-medium lh-1 text-dark my-3">Un outil autonome dans la gestion de vos besoins</h2>
						<p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
							Afin de créer des expériences de marque de premier plan qui ont un sens, il faut une collaboration constante, je serai votre seul interlocuteur tout le long du process de de la rédaction au développement ainsi qu'a la mise en production et le suivi client.
						</p>
					</div>
					<!--end col-->
				</div>
				<!--end row-->
				<div class="row">
					<div class="col-lg-4 col-md-6 mt-4 pt-2">
						<div class="card rounded shadow border-0">
							<div class="card-body p-4 m-2">
								<div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
									<i data-feather="layers" class="align-self-center svg-orange icon-md"></i>
								</div>
								<h5 class="text-dark fs-22 fw-medium my-4">Un service sur mesure</h5>
							</div>
							<!-- end card-body -->
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
					<div class="col-lg-4 col-md-6 mt-4 pt-2">
						<div class="card rounded shadow  border-0">
							<div class="card-body p-4 m-2">
								<div class="bg-soft-alt-info d-flex justify-content-center align-items-center thumb-xl  rounded">
									<i data-feather="dollar-sign" class="align-self-center svg-info icon-md"></i>
								</div>
								<h5 class="text-dark fs-22 fw-medium my-4">Croissance dynamique</h5>
							</div>
							<!-- end card-body -->
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
					<div class="col-lg-4 col-md-6 mt-4 pt-2">
						<div class="card rounded shadow  border-0">
							<div class="card-body p-4 m-2">
								<div class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl  rounded">
									<i data-feather="check-square" class="align-self-center svg-success icon-md"></i>
								</div>
								<h5 class="text-dark fs-22 fw-medium my-4">Identité de marque</h5>
							</div>
							<!-- end card-body -->
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</section>
		<!-- end services -->

		<section class="section bg-light cta-pettern" id="cta">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-10">
						<div class="pattern-1 position-absolute">
							<img src="images/p-1.svg" alt="" class="" height="80">
						</div>
						<h2 class="text-dark" style="line-height: 1.5; position: relative;">Je suis disponible pour l'alternance.</h2>
						<h3>1 semaine en formation, 3 semaines en entreprises</h3>
						<p class="text-muted mb-0">Discutons de vos projets et de mes compétences ainsi que de mon potentiel.
						</p>
					</div>
					<!--end col-->
					<div class="col-lg-2 ml-auto">
						<div class="cta-search">
							<a href="#" class="btn btn-dark">
								PORFOLIO
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
					<!--end col-->
				</div>
				<!--end row-->
			</div>
			<!--end container-->
		</section> #}

    {# <div class="container col-xxl-8 px-4 py-5">
			<h1 class="display-5 fw-bold lh-1 mb-3">Bienvenue</h1>
			<hr>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a href="{{ url('front_devis_utilisateur_show') }}" class="btn btn-primary btn-lg px-4 me-md-2">Suivi de ma demande</a>
				<a href="#" class="btn btn-outline-secondary btn-lg px-4">Annuler ma demande</a>
			</div>
		</div> #}
{% endblock %}
