{% extends 'base.html.twig' %}

{% block title %}Wee - Portfolio
{% endblock %}

{% block content %}

	{% if not app.user %}
		<div class="alert alert-primary d-flex align-items-center" role="alert">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
				<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
			</svg>
			<div>
				<ul>
					<li>Bienvenue sur ScriptZen !</li>
					<li>Pour réaliser une demande de devis, rendez-vous sur l'onglet <a href="{{ url('front_devis_new') }}" class="text-white">Inscription</a></li>
				</ul>
			</div>
			<button type="button" class="btn-close ml-auto" data-bs-dismiss="alert" aria-label="Compris">Ok, compris</button>
		</div>
	{% else %}
		<div class="alert alert-primary d-flex align-items-center" role="alert">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
				<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
			</svg>
			<div>
				<ul>
					<li>Bienvenue {{ app.user.civility}}. {{ app.user.nom}} !</li>
					<li>Pour demander assistance, rendez-vous sur l'onglet <a href="{{ url('front_assistance') }}" class="text-white">Assistance</a></li>
				</ul>
			</div>
			<button type="button" class="btn-close ml-auto" data-bs-dismiss="alert" aria-label="Compris">Ok, compris</button>
		</div>
	{% endif %}

	<div class="container">
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ type }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}
	</div>

	<!-- Introduction -->
	<section class="section section-lg pt-6">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8 text-center">
					<h2 class="h1 font-weight-bolder mb-4">Développeur indépendant</h2>
					<div
							class="justify-content-center">
						<!-- Ajout de la classe d-flex justify-content-center -->
						<img src="{{ asset('img/logo.png')}}" alt="Agence web à Nevers(58)">
					</div>
					<p class="lead">Grâce à mon expertise en développement Web, je vous aide à créer un site professionnel et attractif, adapté à tous les appareils. La sécurité des données est une priorité, et je propose des solutions de gestion de contenu faciles à utiliser.</p>
				</div>
			</div>
			<hr>
			<h1 class="cover-heading text-center display-6"></h1>
			<p class="lead"></p>
			<h3 class="text-center">Merci pour votre confiance et bonne visite</h3>
			{% if not app.user %}
				<p class="lead text-center">
					<a href="{{ url('front_devis_new')}}" class="btn btn-lg btn-primary">Réaliser ma demande en ligne</a>
				</p>
			{% else %}
				<p class="lead text-center">
					<a href="{{ url('front_assistance')}}" class="btn btn-lg btn-primary">Réaliser une demande d'assistance</a>
				</p>
			{% endif %}
		</div>
	</section>
	<!--  ./Introduction-->

	<!-- Solutions -->

	<section>
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8 text-center">
					<h2 class="h1 font-weight-bolder">Des solutions de développement web adaptées à tous les besoins</h2>
					<p class="lead">Je conçois la solution optimale de développement web pour chaque situation spécifique, qu'il s'agisse de développer une plateforme complète ou de mettre en place des outils précis pour vos besoins uniques.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-4 mb-5">
					<div class="card shadow-soft border-light">
						<div class="card-header p-0">
							<img src="{{ asset('img/preparation.png')}}" class="card-img-top rounded-top" alt="image">
						</div>
						<div class="card-body">
							<h3 class="card-title mt-3">Préparation / communication</h3>
							<p class="card-text">En comprenant le besoin unique de votre entreprise et de votre marché local, je m'efforce de fournir une solution de développement web et mobile personnalisée qui vous aidera à atteindre vos objectifs spécifiques.</p>
							<ul class="list-group d-flex justify-content-center mb-4">
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Définition des besoins et objectifs</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Évaluation technique</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Suivi et reporting de la demande</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mb-5">
					<div class="card shadow-soft border-light">
						<div class="card-header p-0">
							<img src="{{ asset('img/tableau-de-bord.png')}}" class="card-img-top rounded-top" alt="image">
						</div>
						<div class="card-body">
							<h3 class="card-title mt-3">Prêt à vous lancer ?</h3>
							<p class="card-text">Lorsqu'une demande est créée par un client sur notre plateforme, un processus soigneusement conçu est déclenché pour s'assurer que chaque demande est correctement enregistrée et prise en compte.</p>
							<ul class="list-group d-flex justify-content-center mb-4">
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Conception tout écrans</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Optimisation SEO</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Gestion de la performance du site</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mb-5">
					<div class="card shadow-soft border-light">
						<div class="card-header p-0">
							<img src="{{ asset('img/tickets.png')}}" class="card-img-top rounded-top" alt="image">
						</div>
						<div class="card-body">
							<h3 class="card-title mt-3">Gestion des Tickets</h3>
							<p class="card-text">Notre système de tickets offre un suivi détaillé de chaque demande. Traquez chaque ticket, de sa création à sa résolution, peu importe leur nombre.</p>
							<ul class="list-group d-flex justify-content-center mb-4">
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Suivi quotidien des tickets</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Support multiplateforme (web et mobile)</div>
								</li>
								<li class="list-group-item d-flex pl-0 pb-1">
									<span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
									<div>Gestion des tickets et de la demande</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ./ Solutions -->

	<!-- Services -->
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="block-title">
				<h2>Ce que je fais</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="info-list-w-icon">
				<div class="info-block-w-icon">
					<div class="ci-icon">
						<i class="linecons linecons-pen"></i>
					</div>

					<div class="ci-text">
						<h4>BRAINSTORM & ERGONOMIE</h4>
						<p>Le brainstorming est une méthode de créativité très utile en développement logiciel. Cependant, pour que cette méthode soit efficace, il est important de prendre en compte l'ergonomie, c'est-à-dire la manière dont les utilisateurs interagissent avec l'interface. Lors de la phase de brainstorming, il est important de veiller à ce que l'ergonomie de l'interface ne soit pas un obstacle à la créativité des participants.
						</p>
					</div>
				</div>

				<div class="info-block-w-icon">
					<div class="ci-icon">
						<i class="linecons linecons-display"></i>
					</div>

					<div class="ci-text">
						<h4>CRÉATION & WEBDESIGN</h4>
						<p>Des idées, c’est bien. Les mettre en en pratique, c’est encore mieux ! Le webdesign de votre
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									futur site internet est construit sous forme de maquettes (charte graphique) qui vous
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																permettront de cadrer graphiquement et de vous projeter sur votre outil.</p>
					</div>
				</div>

				<div class="info-block-w-icon">
					<div class="ci-icon">
						<i class="linecons linecons-calendar"></i>
					</div>

					<div class="ci-text">
						<h4>SUIVI / STATISTIQUES</h4>
						<p>Un interlocuteur dédié, je vous assure que ça rassure. Des données chiffrées, ça rassure aussi ! Je vous paramètre tout ça, et ça tombe dans votre boite mail, c’est beau la
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							technologie vous ne trouvez pas ?</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="info-list-w-icon">

				<div class="info-block-w-icon">
					<div class="ci-icon">
						<i class="linecons linecons-shop"></i>
					</div>

					<div class="ci-text">
						<h4>INTÉGRATION & DÉVELOPPEMENT</h4>
						<p>Là on va commencer à entrer dans le vif du sujet : la transformation des visuels en code
							HTML, CSS et PHP ! C’est à ce moment que j'aborde le coté techniques et je vous
							créererai le code de votre nouveau site internet, c’est tout ce qu’il faut retenir !</p>
					</div>
				</div>

				<div class="info-block-w-icon">
					<div class="ci-icon">
						<i class="linecons linecons-megaphone"></i>
					</div>

					<div class="ci-text">
						<h4>CONTENUS & CONVERSION</h4>
						<p>Les contenus de qualité et la conversion sont des éléments clés pour réussir en ligne. Lorsque votre site web manque de contenu pertinent, il peut être difficile d'atteindre vos objectifs. Mais ne vous inquiétez pas, vous n'êtes pas seul dans cette entreprise. Je suis là pour vous aider à créer un contenu engageant qui captivera votre audience et favorisera la conversion.</p>
					</div>
				</div>

				<div class="info-block-w-icon">
					<div class="ci-icon">
						<i class="linecons linecons-data"></i>
					</div>

					<div class="ci-text">
						<h4>RÉFÉRENCEMENT NATUREL</h4>
						<p>Cerise sur le gâteau ? Non pas tant que ça en fait. Un beau site tout neuf, ce serait dommage
							qu’il ne soit pas référencé sur Google , vous ne trouvez pas ? Une stratégie SEO (aussi
							appelé référencement naturel), simple et efficace ne mange pas de pain !</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Technologie et outils -->
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="block-title">
				<h2>Outils et technologies</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<div class="lm-info-block gray-default">
				<img src="./img/clients/spec-1.png" alt="PHP">
				<h4>PHP 5/6/7/8.2</h4>
			</div>
		</div>

		<div class=" col-xs-12 col-sm-3">
			<div class="lm-info-block gray-default">
				<img src="./img/clients/spec-2.png" alt="HTML 5 / CSS 3">
				<h4>HTML 5 / CSS 3</h4>
			</div>
		</div>

		<div class=" col-xs-12 col-sm-3 ">
			<div class="lm-info-block gray-default">
				<img src="./img/clients/spec-3.png" alt="Git">
				<h4>Git + SSH</h4>
			</div>
		</div>

		<div class=" col-xs-12 col-sm-3 ">
			<div class="lm-info-block gray-default">
				<img src="./img/clients/spec-4.png" alt="Symfony">
				<h4>Symfony 4/5/6</h4>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3">
			<div class="lm-info-block gray-default">
				<img src="./img/clients/spec-5.svg" alt="React">
				<h4>React / VueJs</h4>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3">
			<div class="lm-info-block gray-default">
				<img src="./img/clients/spec-7.png" alt="Sass">
				<h4>SaaS</h4>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3">
			<div class="lm-info-block gray-default">
				<img src="./img/clients/spec-8.svg" alt="Json web token(JWT)" class="text-center">
				<h4>Json web token</h4>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3">
			<div class="lm-info-block gray-default">
				<img src="./img/clients/spec-9.png" alt="Axios / Ajax" class="text-center">
				<h4>Axios/Ajax</h4>
			</div>
		</div>
	</div>
	<!-- ./ Outils et technologies -->

	<!-- FAQ -->

	{#<section class="py-5 py-sm-5">
		<div class="container">
			<div class="mb-5 text-center"><span class="display-4 font-weight-bold text-primary text-uppercase">VOUS AVEZ DES QUESTIONS ?</span>
				<h2 class="mt-2">Voici quelques réponses</h2>
			</div>
			<div class="col-md-8 mx-auto">
				<div id="accordion">
					<div class="card border-primary mb-2">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Calendrier de paiement et options
								</button>
							</h5>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								<p>La définition de la portée du projet est le fruit d'une collaboration avec mon client. Ensemble, nous définissons les principales caractéristiques, les fonctionnalités et les éventuelles contraintes qui façonneront le processus de conception. Cette clarté garantit que nous sommes alignés et que nous travaillons pour atteindre les mêmes objectifs.</p>
							</div>
						</div>
					</div>
				<p class="d-flex flex-wrap align-items-center justify-content-center"><span class="mr-1">Vous avez encore des questions ?</span><a class="btn btn-link font-weight-bold" href="{{ url('front_assistance') }}">Créez votre ticket maintenant !</a></p>
			</div>
		</div>
	</section>#}



	<!-- Pricing -->
	<div class="row">
		<div class=" col-xs-12 col-sm-12 ">
			<div class="block-title">
				<h2>Que souhaitez-vous faire ?</h2>
			</div>
		</div>

	</div>

	<div class="row">
		<div class=" col-xs-12 col-sm-12 ">
			<div class="fw-pricing clearfix row">

				<div class="fw-package-wrap col-md-6 ">
					<div class="fw-package">
						<div class="fw-heading-row">
							<span>PRESENTATION ENTREPRISE</span>
						</div>

						<div class="fw-pricing-row">
							<span>Sur devis</span>
						</div>

						<div class="fw-button-row">
							<a href="{{ url('front_devis_new', {'type': 'site_vitrine'}) }}" target="_self" class="btn btn-primary">Développement basique</a>

						</div>

						<div class="fw-default-row">Vous êtes une marque souhaitant donner un coup de neuf à son site
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			                            web ou une entreprise souhaitant redynamiser sa présence sur le web ? Optez pour une
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			                            création de site vitrine sur mesure, dynamique et novateur. A votre image.
						</div>
					</div>
				</div>

				<div class="fw-package-wrap col-md-6 highlight-col ">
					<div class="fw-package">
						<div class="fw-heading-row">
							<span>DÉVELOPPEMENT SUR MESURE</span>
						</div>

						<div class="fw-pricing-row">
							<span>Sur devis</span>
						</div>

						<div class="fw-button-row">
							<a href="{{ url('front_devis_new', {'type': 'cross_plateforme'}) }}" target="_self" class="btn btn-primary">Développement spécifique</a>

						</div>

						<div class="fw-default-row">Vous souhaitez aller un peu plus loin et vous avez en tête des
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			                            fonctionnalités bien précises pour votre nouveau site internet ? Tout est possible
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			                            techniquement, discutons ensemble de votre développement web sur mesure !
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Pricing -->
	</div>
{% endblock %}
