{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block content %}

	<div class="container">
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ type }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}
	</div>

	{# Hero #}
	<section class="section-header text-white vh-100 home_background">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-12 col-md-12 col-lg-12 text-md-left intro">
					<h1 class="display-2 mb-4 text-center">Agence web <br> <span class="inline-block" style="background-color: dodgerblue;">Basée dans la Nièvre</span></h1>
					<p class="lead mb-4 text-muted text-center">Grâce à mon expertise en développement Web, je vous accompagne dans
						la création d'un site professionnel et attractif. Cependant, une conception
						exceptionnelle ne se limite pas à la première étape.
					</p>
					<div class="flex-sm-column button_home justify-content-center" style="text-align: center;">
						<a href="{{ url('front_devis_new') }}" class="btn btn-tertiary mr-3 animate-up-2 inline-block">Obtenir un suivi 7j/7 <span class="ml-2"><span class="fas fa-arrow-right"></span></span></a>
						<a href="#agence" class="btn btn-danger mr-3 animate-up-2 inline-block">Découvrir l'agence<span class="ml-2"><span class="fas fa-arrow-down"></span></span></a><br>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-check2-circle" viewBox="0 0 16 16">
								<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
								<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
							</svg>
							Aucune carte de crédit n'est requise
					</div>
				</div>
			</div>
				<!-- Clients Slider -->

				{#<div id="clients_1" class="clients owl-carousel" data-mobile-items="1" data-tablet-items="3" data-items="6">
					<div class="client-block">
						<a href="#">
							<img src="./img/clients/logo-1.png">
						</a>
					</div>

					<div class="client-block">
						<a href="#">
						<img src="./img/clients/logo2.png">
						</a>
					</div>

					<div class="client-block">
						<a href="#"itures">
							<img src="./img/clients/logo3.png">
						</a>
					</div>

					<div class="client-block">
						<a href="#">
							<img src="./img/clients/logo4.png">
						</a>
					</div>

					<div class="client-block">
						<a href="#">
							<img src="./img/clients/logo5.png">
						</a>
					</div>

					<div class="client-block">
						<a href="#">
							<img src="./img/clients/logo6.png">
						</a>
					</div>
				</div>
				<!-- /Clients Slider -->

				<div class="p-40"></div>
			</div>
		</div>#}
	</section>

	<div class="container mt-5 flex-row-reverse" id="agence">
		<h1 class="display-5 fw-bold lh-1 mb-3 text-center">Des solutions de développement web adaptées à tous les besoins</h1>
		<p class="lead mb-4 text-muted text-center">Je conçois la solution optimale de développement web pour chaque
			situation spécifique, qu'il s'agisse de développer une plateforme complète ou de mettre en place des outils précis
			pour vos besoins uniques.
		</p>
	</div>
	{# End of Hero section #}

	<h1 class="display-4 fw-bold text-center">Processus</h1>

	{# Services de l'Agence #}
	<section>
		<div class="container">
			<ul class="process">
				<li class="process__item">
					<span class="process__number"><i class="fas fa-lightbulb"></i></span>
					<span class="process__title">Analyse &amp; Stratégie</span>
					<span class="process__subtitle">J'analyse votre problème et développe une stratégie</span>
				</li>
				<li class="process__item">
					<span class="process__number"><i class="fas fa-file-alt"></i></span>
					<span class="process__title">Faire une Offre</span>
					<span class="process__subtitle">Je vous fournis une offre détaillée en fonction de mon analyse</span>
				</li>
				<li class="process__item">
					<span class="process__number"><i class="fas fa-cogs"></i></span>
					<span class="process__title">Développement</span>
					<span class="process__subtitle">Je développe, transforme la stratégie en réalité</span>
				</li>
				<li class="process__item">
					<span class="process__number"><i class="fas fa-check-circle"></i></span>
					<span class="process__title">Finalisation</span>
					<span class="process__subtitle">J'effectue les ajustements finaux et prépare la livraison</span>
				</li>
			</ul>
		</div>
	</section>
	{# ./ Services de l'Agence #}

	<section class="hero">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<h1>BESOIN D'ÉCLAIRAGE ?</h1>
					<p>Transformez les défis techniques en opportunités. Lorsque vous êtes confronté à des problèmes techniques, vous faites face à des occasions de grandir et d'apprendre. Ne laissez pas les obstacles vous décourager. Au contraire, laissez-moi vous guider vers des solutions brillantes qui illuminent votre parcours.</p>
				</div>
				<div class="col-md-6">
					<img src="{{ asset('img/presentation.png') }}" alt="agence web dans la Nièvre (58)">
				</div>
			</div>
		</div>
	</section>

	{# Technologie et outils #}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="block-title">
					<h2>Outils et technologies</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-1.png" alt="PHP">
					<h4>PHP 5/6/7/8.2</h4>
				</div>
			</div>

			<div class=" col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-2.png" alt="HTML 5 / CSS 3">
					<h4>HTML 5 / CSS 3</h4>
				</div>
			</div>

			<div class=" col-xs-12 col-sm-3 ">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-3.png" alt="Git">
					<h4>Git + SSH</h4>
				</div>
			</div>

			<div class=" col-xs-12 col-sm-3 ">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-4.png" alt="Symfony">
					<h4>Symfony 4/5/6</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-5.svg" alt="React">
					<h4>React / VueJs</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-7.png" alt="Sass">
					<h4>SaaS</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-8.svg" alt="Json web token(JWT)" class="text-center">
					<h4>Json web token</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="lm-info-block gray-default">
					<img src="./img/clients/spec-9.png" alt="Axios / Ajax" class="text-center">
					<h4>Axios/Ajax</h4>
				</div>
			</div>
		</div>
	</div>
	{# ./ Technologie et outils #}

	<!-- Pricing -->
	<div class="container">
		<div class="row">
			<div class=" col-xs-12 col-sm-12 ">
				<div class="block-title">
					<h2>Un large choix vous est proposé</h2>
					<p>Que vous soyez un particulier ou un professionnel !</p>
				</div>
			</div>

		</div>

		<div class="row">
			<div class=" col-xs-12 col-sm-12 ">
				<div class="fw-pricing clearfix row">

					<div class="fw-package-wrap col-md-6 ">
						<div class="fw-package">
							<div class="fw-heading-row">
								<span class="text-uppercase">Développement entreprise</span>
							</div>

							<div class="fw-pricing-row">
								<span>Un prix compétiteur et des fonctionnalités de bases</span>
							</div>

							<div class="fw-button-row">
								<a href="{{ url('front_devis_new', {'type': 'site_vitrine'}) }}" target="_self" class="btn btn-primary">Personnaliser</a>

							</div>

							<div class="fw-default-row">Vous êtes une marque souhaitant donner un coup de neuf à son site
								web ou une entreprise souhaitant redynamiser sa présence sur le web ? Optez pour une
								création d'application / site web sur mesure, dynamique et novateur. A votre image.
							</div>
						</div>
					</div>

					<div class="fw-package-wrap col-md-6 highlight-col ">
						<div class="fw-package">
							<div class="fw-heading-row">
								<span>DÉVELOPPEMENT SUR MESURE</span>
							</div>

							<div class="fw-pricing-row">
								<span>Pour un besoin spécifique</span>
							</div>

							<div class="fw-button-row">
								<a href="{{ url('front_devis_new', {'type': 'cross_plateforme'}) }}" target="_self" class="btn btn-primary">Personnaliser</a>

							</div>

							<div class="fw-default-row">Vous souhaitez aller un peu plus loin et vous avez en tête des
								fonctionnalités bien précises pour votre nouveau site internet ? Tout est possible
								techniquement, discutons ensemble de votre développement web sur mesure !
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Pricing -->
		</div>
	</div>

{% endblock %}
