{% extends 'base.html.twig' %}

{% block content %}

    <div class="container p-xxl-5">
        <h1>page de categorie : {{ categorie.name }}</h1>
    </div>

    <!-- blog start -->
        <section class="blog-area pb-5">
            <div class="container">
                <div class="row justify-content-center">
                    {% for Subject in Subjects %}
                        <div class="col-lg-3 col-md-3 col-sm-10">
                            <div class="single-blog blog-style-one">
                                <div class="blog-image">
                                    <a href="{{ path('front_Subjects_show', {'title': Subject.title}) }}">
                                        {% for image in Subject.images %}
                                            <img class="card-img-top rounded-0" src="{{ asset('uploads/' ~ image.name) }}" alt="{{ Subject.title }}">
                                        {% endfor %}
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h5 class="blog-title">
                                        <a href="{{ path('front_Subjects_show', {'title': Subject.title}) }}">
                                            <h5 class="card-title">{{ Subject.title }}</h5>
                                        </a>
                                    </h5>
                                    {% for categorie in Subject.categories %}
                                        {{ categorie.name }}
                                    {% endfor %}
                                    <br>
                                    <span><i class="bi bi-calendar"></i> {{ Subject.createdAt|format_datetime('medium', locale="fr") }}</span>
                                    <span><i class="bi bi-chat-dots"></i>{{ Subject.commentaires|length }}</span>
                                    {# <span class="favoris"><i class="bi bi-heart-fill"></i>{{ Subject.favoris|length }}</span> #}
                                    <span><img src="{{ asset('uploads/avatar/' ~Subject.user.avatar) }}" alt="{{ Subject.user.username }}" class="rounded-0 img-thumbnail" width="50" height="50">  {{ Subject.user.username }}</span>
                                </div>
                                {# <div class="txt-red">
                                    {% if app.user %}
                                        {% set isFavorite = false %}
                                        {% for favoris in Subject.favoris %}
                                            {% if favoris.id == app.user.id %}
                                                {% set isFavorite = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if isFavorite %}
                                            <button class="btn-favorite" type="button" data-href="{{ url('front_remove_favoris', {id: Subject.id}) }}" data-id="{{ Subject.id }}"><i class="bi bi-hand-thumbs-up-fill"></i>
                                            </button>
                                        {% else %}
                                            <button class="btn-favorite" type="button" data-href="{{ url('front_add_favoris', {id: Subject.id}) }}" data-id="{{ Subject.id }}"><i class="bi bi-hand-thumbs-up"></i>
                                            </button>
                                        {% endif %}

                                    {% endif %}
                                </div> #}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- ./ End blog start -->
    </div>
{% endblock %}