{% extends 'base_back.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h1>Liste des utilisateurs</h1>

		<a href="{{ path('back_user_new') }}">Créer un nouveau utilisateur</a>
		<div class="table-responsive">
			<table>
				<thead>
				<tr>
					<th>#</th>
					<th>Email</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.nom }}</td>
						<td>{{ user.prenom }}</td>
						<td>
							<a href="{{ path('back_user_show', {'id': user.id}) }}">Afficher</a>
							<a href="{{ path('back_user_edit', {'id': user.id}) }}">Modifier</a>
							<a href="{{ path('back_user_delete', {'id': user.id}) }}">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
