{% extends 'base_back.html.twig' %}

{% block title %}Nouveau utilisateur
{% endblock %}

{% block content %}
	<h1>New User</h1>

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.password) }}
	{{ form_row(form.nom) }}
	{{ form_row(form.prenom) }}
	<button type="submit">Créer</button>
	{{ form_end(form) }}

	<a href="{{ path('back_user_index') }}">Retour</a>
{% endblock %}
