{{ form_start(projectForm) }}

{{ form_row(projectForm.title) }}
{{ form_row(projectForm.description) }}
{{ form_row(projectForm.images) }}
{{ form_row(projectForm.categories) }}
{{ form_row(projectForm.link) }}
{{ form_row(projectForm.category) }}

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(projectForm) }}
