{{ form_start(projectEdit) }}

    {{ form_row(projectEdit.title) }}
    {{ form_errors(projectEdit.title) }}

    {{ form_row(projectEdit.description) }}
    {{ form_errors(projectEdit.description) }}

{#    {{ form_row(projectEdit.image) }}
    {{ form_errors(projectEdit.image) }}#}

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(projectEdit) }}