{{ form_start(projectForm) }}

{{ form_widget(projectForm.title) }}
{{ form_widget(projectForm.description) }}
<div>
    {{ form_label(projectForm.images) }}
    {{ form_errors(projectForm.images) }}
    {{ form_widget(projectForm.images) }}
</div>
{{ form_widget(projectForm.categories) }}
{{ form_widget(projectForm.link) }}
{{ form_widget(projectForm.category) }}

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(projectForm) }}
