<!-- Header -->
<header id="site_header" class="header top-fixed">
    <div class="header-content clearfix">
        <!-- Text Logo -->
        <div class="text-logo">
            <a href="{{ url('back_index') }}">
                <div class="logo-text">ScriptZenIT
                    <span>{{ app.user.username }}</span>
                </div>
            </a>
        </div>
        <!-- /Text Logo -->

        <!-- Navigation -->
        <div class="site-nav mobile-menu-hide">
            <ul class="leven-classic-menu site-main-menu">
                <li class="menu-item">
                    <a href="{{ path('back_devis_index') }}">Voir devis</a>
                </li>
                <li class="menu-item {{ app.request.get('_route') == 'back_callback_requests' ? 'active' : '' }}">
                    <a href="{{ path('back_callback_requests') }}">Voir les Rappels</a>
                </li>
                <li class="menu-item {{ app.request.get('_route') == 'back_prospect_index' ? 'active' : '' }}">
                    <a href="{{ path('back_prospect_index') }}">Voir les prospects</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('back_project_index') }}">Voir projets</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('back_category_index')}}">Voir Les catégories</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('back_member_index') }}">Voir L'équipe</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('back_user_index')}}">Voir utilisateur</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('back_ticket') }}">Voir ticket</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('back_home_support') }}">Voir l'admin support</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Déconnexion</a>
                </li>
            </ul>
        </div>

        <a class="menu-toggle mobile-visible">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</header>
<!-- /Header -->
