<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2f2f2f;">
    <a class="navbar-brand" href="{{ url('back_home') }}">Tableau de bord</a>

    <a href="{{ url('front_home') }}" class="btn btn-secondary">Retourner à l'accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="MENU">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobileMenu">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if app.user %}
                <li class="nav-item">
                    <span class="nav-link">Bienvenue {{ app.user.username }}!</span>
                </li>
            {% endif %}
            <li class="nav-item {{ app.request.get('_route') == 'back_home' ? 'active' : '' }}">
                <a class="nav-link" href="{{ url('back_home') }}">Subjects</a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'back_users_list' ? 'active' : '' }}">
                <a class="nav-link" href="{{ url('back_users_list') }}">Utilisateurs</a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'back_categories_list' ? 'active' : '' }}">
                <a class="nav-link" href="{{ url('back_categories_list') }}">Catégories</a>
            </li>

            <li class="nav-item {{ app.request.get('_route') == 'back_comments_list' ? 'active' : '' }}">
                <a class="nav-link" href="{{ url('back_comments_list') }}">Commentaires</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('app_logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item {{ app.request.get('_route') == 'app_login' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item {{ app.request.get('_route') == 'app_register' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- Navbar End -->