{% extends 'base_back.html.twig' %}

{% block title %}Modifier le devis
{% endblock %}

{% block content %}
	<h1>Modifier le devis</h1>

	{{ form_start(formDevis) }}
	{{ form_row(formDevis.email) }}
	{{ form_row(formDevis.type_de_site_web) }}
	{{ form_row(formDevis.attentes_design_web) }}
	{{ form_row(formDevis.description_projet)}}
	{% if is_granted('ROLE_ADMIN') %}
		Status :
		{{ form_row(formDevis.statut, {attr: {style: 'display:block'}}) }}
	{% endif %}
	<button type="submit">Enregistrer</button>
	{{ form_end(formDevis) }}

	<a href="{{ path('back_devis_show', {'id': devis.id}) }}">Annuler</a>
{% endblock %}
