{% extends 'base_back.html.twig' %}

{% block title %}Détails du devis
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Détails du devis</h1>

		<table>
			<tr>
				<th>Numéro</th>
				<td>{{ devis.id }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ devis.email }}</td>
			</tr>
			<tr>
				<th>Type de site web</th>
				<td>{{ devis.typeDeSiteWeb }}</td>
			</tr>
			<tr>
				<th>Description du projet</th>
				<td>{{ devis.descriptionProjet }}</td>
			</tr>
			<tr>
				<th>Status du devis</th>
				<td>{{ devis.statut }}</td>
			</tr>
			<tr>
				<th>Date de création</th>
				<td>{{ devis.createdAt|date('Y-m-d H:i:s') }}</td>
			</tr>
            <tr>
            	<th>Attentes désign</th>
            	<td>
                	{% if devis.attentesDesignWeb is not empty %}
                        <ul>
                            <li>
                                {% for list in devis.attentesDesignWeb %}
                                    {{ list.label }}
                                {% endfor %}
                            </li>
                        </ul>
                    {% else %}
                        N/A
                    {% endif %}
            	</td>
			<tr>
				<th>Prix</th>
				<td>{{ devis.prix }} €</td>
			</tr>
		</table>

		<div class="d-flex justify-content-between">
			<a href="{{ path('back_devis_edit', {'id': devis.id}) }}" class="btn btn-info">Modifier</a>
			<form action="{{ path('back_devis_delete', {'id': devis.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce devis ?');">
				<button type="submit">Supprimer</button>
			</form>
			<a href="{{ url('back_devis_index') }}" class="btn btn-success">Retour</a>
		</div>
	</div>

{% endblock %}
