{% extends "base.html.twig" %}

{% block title %}Assistance
{% endblock %}

{% block content %}

	<div class="container">
		{% if devisList is not empty %}
			<h1>Créer un ticket</h1>

			{{ form_start(form) }}
			<div>
				{{ form_row(form.content) }}
				{{ form_errors(form.content) }}
			</div>
			<div>
				{{ form_row(form.priority) }}
				{{ form_errors(form.priority) }}
			</div>
			<div>
				{{ form_row(form.status) }}
				{{ form_errors(form.status) }}
			</div>
			<div>
				{{ form_row(form.sender)}}
				{{ form_errors(form.sender) }}
			</div>
			<div>
				{{ form_row(form.devis) }}
				{{ form_errors(form.devis) }}
			</div>

			<div>
				{{ form_row(form.attachment) }}
				{{ form_errors(form.attachment) }}

			</div>

			<button type="submit">Envoyer le message</button>
			{{ form_end(form) }}
		{% else %}
			<p>Aucun devis trouvé pour cet utilisateur.</p>
		{% endif %}
	</div>

{% endblock %}
