{% extends 'base.html.twig' %}

{% block content %}

    <div class="container-fluid text-center jumbotron mt-7">
        <div class="container">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <h1>Support Technique</h1>
        <div class="page-subtitle">
            <br>
            <p class="fs-5 mb-4">Vous êtes sur le point de créer un sujet, afin de débloquer votre situation soit par un personnel de l'entreprise ou bien un membre qualifié vous répondra et notre support également.</p>

            <h4></h4>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="overflow-hidden">
        <div class="container">

            {% include 'front/includes/_Subject_form.html.twig' %}
            {% if app.request.attributes.get('_route') == 'front_subjects_new' and subject.images is not empty %}
                {% for image in subject.images %}
                    <div>
                        <img src="{{ asset('/uploads/subject'~image.name) }}" alt="{{ subject.name }}" width="150">

                        {# We add a link to delete an image (will be managed in Ajax in images.js) #}
                        <a href="{{ path('back_subjects_remove_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">
                            <i class="bi bi-file-earmark-x"></i>
                            Supprimer
                        </a>
                    </div>
                {% endfor %}
            {% endif %}


        </div>
    </div>
{% endblock %}
