{% extends "base.html.twig" %}

{% block title %}
	Tableau de bord
{% endblock %}

{% block content %}

	<div class="col-md-6">
		<article>
			{{ dump(singleRequest)}}
		{# <h2>{{ singleRequest.type_de_site_web }}</h2> #}
			{# <div class="metadata">
							Crée le
							{{ ticket.createdAt | date('d/m/Y') }}
							à
							{{ ticket.createdAt| date('H:i') }}</div>
						<div class="contenu">
							{{ ticket.contenu | raw }}
						</div> #}

		</article>
	</div>

	<h3>Ecrire un message</h3>
	<div class="col-md-6">
		<div class="contact"></div>
	</div>


{% endblock %}
