{% block title %}{{ subject }}{% endblock %}

{% block body_text %}

    Bonjour {{ email_address }},

    Vous souhaitez réaliser un : {{ subject }} <br>

    Votre demande est : {{ message }} <br>

    <br>

    Numéro d'inscription : {{ registrationNumber }}

    <br>

    Je reviens vers vous dans 48h/72h maximum, vérifiez votre adresse email, passé ce délai, veuillez me contacter.<a
        href="mailto:wbelbeche.s@gmail.com">Clickez ici</a>


{% endblock %}