{% extends 'base.html.twig' %}

{% block title %}Devis en ligne
{% endblock %}

{% block content %}
	<section class="container text-center">

		<div class="container-fluid text-center" style="margin-top: 4rem !important;">

			<h1 class="display-4 fw-bold text-body-emphasis">Par où commencer ?</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">Nous comprenons qu'aborder la création ou la refonte d'un site web ou d'une application mobile peut être intimidant. C'est pourquoi notre approche commence par une écoute attentive de vos besoins. Nous suivons un processus clair et transparent pour garantir que chaque étape de votre projet est parfaitement alignée avec vos objectifs..</p>
			</div>
			<div class="overflow-hidden" style="max-height: 40vh;">
				<div class="container px-5">
					<img src="{{ asset('img/devis.png') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Panel en ligne" width="700" height="500" loading="lazy" style="margin:auto;">
				</div>
			</div>
		</div>
		<hr>
		<div class="b-example-divider"></div>

		<p class="lead mb-5">
			Remplissez le formulaire ci-dessous pour détailler vos besoins. Une fois votre demande de devis soumise,
			vous pourrez suivre son avancement en temps réel grâce à notre onglet <a href="{{ path('front_assistance') }}">Assistance</a>.
			Je suis là pour vous accompagner à chaque étape.
		</p>

		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#combinedModal">
				Voir explications
			</button>
		</div>

		<!-- La Modal -->
		<div class="modal fade" id="combinedModal" tabindex="-1" role="dialog" aria-labelledby="combinedModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="combinedModalLabel">Explications sur les Types de Sites Web et les Choix de Design</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- Explications pour les Types de Sites Web -->
						<h5>Types de Sites Web:</h5>
						<p><strong>Site vitrine:</strong> Idéal pour les entreprises qui veulent présenter leurs produits ou services, mais sans vendre en ligne.</p>
						<p><strong>E-Commerce:</strong> Pour les entreprises qui veulent vendre des produits ou des services en ligne.</p>
						<p><strong>Blog professionnel:</strong> Pour les entreprises ou les individus qui souhaitent partager des articles, des actualités et des informations pertinentes.</p>
						<p><strong>Portfolio:</strong> Idéal pour les artistes, photographes, designers, etc., qui souhaitent montrer leur travail.</p>
						<p><strong>Forum communautaire:</strong> Pour créer une communauté en ligne centrée autour d'un sujet ou d'un intérêt commun.</p>
						<p><strong>Site d'information ou magazine en ligne:</strong> Pour les entreprises de médias ou les individus qui partagent des actualités et des articles fréquemment.</p>
						<p><strong>Application Web et Mobile (Cross-plateforme):</strong> Des applications qui fonctionnent à la fois sur le web et les mobiles.</p>
						<p><strong>Système de Gestion de Contenu (CMS):</strong> Pour les entreprises qui ont besoin d'un système robuste pour gérer beaucoup de contenu.</p>
						<p><strong>Intranet d'entreprise:</strong> Pour les besoins internes de l'entreprise, comme la gestion des ressources humaines, des projets, etc.</p>
						<p><strong>Application spécifique:</strong> Pour des besoins très spécifiques qui ne rentrent pas dans les catégories précédentes. Le client peut décrire ses besoins en détail.</p>

						<h5>Explications pour les choix de design:</h5>
						<h6>Design standard :</h6>
						<p>Un design simple et efficace qui suit les meilleures pratiques du secteur.</p>

						<h6>Avec vos propres maquettes :</h6>
						<p>Si vous avez déjà conçu des maquettes ou des wireframes, cette option est pour vous.</p>

						<h6>Design avancé :</h6>
						<p>Un design entièrement personnalisé avec des fonctionnalités et des interactions complexes.</p>

						<h6>Design orienté vers le mobile :</h6>
						<p>Un design qui priorise l'expérience utilisateur sur les appareils mobiles.</p>

						<h6>Design animé ou interactif :</h6>
						<p>Inclut des animations et des interactions utilisateur pour un site plus dynamique.</p>

						<h6>Thème sombre :</h6>
						<p>Utilisation d'un thème de couleurs sombres pour réduire la fatigue oculaire et économiser de l'énergie sur les écrans OLED.</p>

						<h6>Thème clair :</h6>
						<p>Utilisation d'un thème de couleurs clairs pour améliorer la lisibilité et l'attrait visuel.</p>

						<h6>Design axé sur l’accessibilité :</h6>
						<p>Un design qui est optimisé pour l'accessibilité, conformément aux directives WCAG.</p>

						<h6>Design minimaliste :</h6>
						<p>Un design simple avec peu de couleurs et d'éléments, axé sur la facilité d'utilisation.</p>

						<h6>Branding complet inclus :</h6>
						<p>Inclut la création d'un logo, la sélection de couleurs de marque et d'autres éléments de branding.</p>

						<h6>Personnalisation avancée :</h6>
						<p>Offre une grande flexibilité dans la personnalisation du design, y compris des options avancées comme des micro-interactions, etc.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Début du formulaire -->
		<div class="px-4">
			<div class="col-lg-12 mx-auto padding-top-xxl">
				<!-- Formulaire de devis -->
				{{ form_start(formDevis) }}
				{% if not app.user %}
					<label for="">L'adresse email pour recevoir votre devis</label>
					{{ form_row(formDevis.email, {'attr': {'name': 'email'}}) }}
					{{ form_errors(formDevis.email) }}
				{% endif %}
				<label for="">Type d'application souhaité</label>
				{{ form_row(formDevis.type_de_site_web)}}
				{{ form_errors(formDevis.type_de_site_web)}}
				<label for="">Quelles sont vos attentes concernant le design ?</label>
				{{ form_row(formDevis.attentes_design_web)}}
				{{ form_errors(formDevis.attentes_design_web)}}
				<label for="">Parlez moi un peu plus de votre projet !</label>
				{{ form_row(formDevis.description_projet)}}
				{{ form_errors(formDevis.description_projet)}}
				<button type="submit">Je crée le devis</button>
				{{ form_end(formDevis) }}
			</div>
		</div>
		{{ form_end(formDevis) }}
	</section>
{% endblock %}
