{% extends 'base.html.twig' %}

{% block title %}Devis en ligne
{% endblock %}

{% block content %}
	<div class="container">

		<h1 class="display-5 fw-bold text-center">Discutons de votre projet
		</h1>
		<p class="lead">Vous voulez des informations complémentaires quant à la réalisation de votre projet ?
		</p>
		<p class="lead">
			Utilisez le formulaire ci-dessous :
		</p>
		{% if app.user %}
			<p>Bienvenue, {{ app.user.email }} !</p>

			<div class="px-4 py-5 my-5">
				<div
						class="col-lg-12 mx-auto padding-top-xxl">
					<!-- Formulaire de devis -->
					{{ form_start(formDevis) }}
					<label for="">Type d'application souhaité</label>
					{{ form_row(formDevis.type_de_site_web)}}
					{{ form_errors(formDevis.type_de_site_web)}}
					<label for="">Quelles sont vos attentes concernant le design ?</label>
					{{ form_row(formDevis.attentes_design_web)}}
					{{ form_errors(formDevis.attentes_design_web)}}
					<label for="">Parlez moi un peu plus de votre projet !</label>
					{{ form_row(formDevis.description_projet)}}
					{{ form_errors(formDevis.description_projet)}}
					<button type="submit">Recevoir mon récapitulatif de devis</button>
					{{ form_end(formDevis) }}
				</div>
			</div>
			{{ form_end(formDevis) }}
		{% else %}
			<p>Vous n'êtes pas connecté, veuillez fournir votre adresse email pour soumettre un devis :</p>
			<a href="{{ url('app_register') }}" class="btn btn-success">Cliquez ici pour vous inscrire</a>
		{% endif %}
	</div>
{% endblock %}
