<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devis n°{{ devis.id }}</title>
</head>
<body>
    <div class="xs-12">
        <h2>Type de demande :
            {{ devis.typeDeSiteWeb }}</h2>
        <h3>Par :
            {{ devis.email }}</h3>

        <div class="metadata">
            Crée le
            {{ devis.createdAt|date('d/m/Y') }}
            à
            {{ devis.createdAt|date('H:i') }}</div>
        <div class="contenu">
            Message:
            {{ devis.descriptionProjet | nl2br  }}
        </div>
    </div>
</body>
</html>
