{% extends 'base.html.twig' %}

{% block title %}Mes réalisations
{% endblock %}

{% block content %}

    <div class="cta-style-one rts-section-gapTop section-gap banner-bg-1 text-center" style="height: auto;">
        <span class="works">Portfolio</span>
        <h1 class="title rts_hero__title">Voici quelques-unes de nos réalisations</h1>
    </div>
    <!-- Scripts style two End -->


    <!-- rts case studyes area start -->
    <div class="rts-portfolio-grid-area ptb--80">
        <div class="container-140">
			{# <div id="portfolio_content_q" class="portfolio-content">
				<ul class="portfolio-filters d-flex pl-5">
					<li>
						<a class="filter btn btn-sm btn-link" data-group="toutes_categories">Toutes les catégories</a>
					</li>
					<li>
						<a class="filter btn btn-sm btn-link" data-group="detaillé">Projets Détaillés</a>
					</li>
					<li>
						<a class="filter btn btn-sm btn-link" data-group="lien-direct">Liens fonctionnels</a>
					</li>
					<li>
						<a class="filter btn btn-sm btn-link" data-group="prototype">Prototype</a>
					</li>
				</ul>
			</div> #}
            <div class="row g-0 g-md-5 g-sm-5 separetor-portfolio-bottom">
				{% for project in projects %}
					{# {% set dataGroups = ['toutes_categories'] %}

					{% if 'detaillé' in project.category %}
						{% set dataGroups = dataGroups|merge(['detaillé']) %}
					{% endif %}
					
					{% if 'lien-direct' in project.category %}
						{% set dataGroups = dataGroups|merge(['lien-direct']) %}
					{% endif %}
					{% if 'prototype' in project.category %}
						{% set dataGroups = dataGroups|merge(['prototype']) %}
					{% endif %} #}
					<div class="col-lg-6 col-md-6 col-sm-12">
					<figure class="item standard">
						<!-- single portfolio area start -->
							<div class="signle-portfolio-style-four-inner ptb--80 ptb_md--50 ptb_sm--30 item standard">
								{% for image in project.images %}
									<img src="{{ asset('image_project/'~image.name) }}" alt="{{ image.name }}"/>
								{% endfor %}
								<a href="{{ url('front_project_show', {id: project.id}) }}"></a>
								<div class="inner-content">
									<span class="category">{{ project.category|join(', ')|title }}</span>
									<a href="{{ url('front_project_show', {id: project.id}) }}">
										<h5 class="name">{{ project.title }}</h5>
									</a>
								</div>
							</div>
							<!-- single portfolio area end -->
						</div>
					</figure>
				{% endfor %}
            </div>
        </div>
    </div>
    <!-- rts case studyes area end -->
</div>


{% endblock %}
