<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="language" content="fr">
		<meta name="robots" content="index, follow">
		<meta name="created" content="2023-08-24">
		<meta name="image" content="https://scriptzenit.fr/img/logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="Découvrez les services de ScriptZenIT : spécialistes en création de sites internet et d'applications de qualité. De la conception ergonomique au développement technique, on vous accompagne pour donner vie à vos idées en ligne."/>
		<meta name="keywords" content="création site web, développement web, conception site internet, design web, identité numérique, conseils site internet, agence web, applications web, sites responsives, UX/UI, développement d'applications, solutions digitales"/>
		<meta content="Walid BELBECHE" name="author"/>
		<title>
			{% block title %}ScriptZenIT - Création de Sites Internet et Applications de Qualité
			{% endblock %}
		</title>
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('medias/favicon/favicon-16x16.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('medias/favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('medias/favicon/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('medias/favicon/site.webmanifest') }}">
		<link
		rel="icon" href="{{ asset('medias/favicon/favicon.ico') }}">

		<!-- Global CSS -->
		<link rel="stylesheet" href="{{ asset('css/front/css/about.css')}}">
		<link rel="stylesheet" href="{{ asset('css/front/css/processus.css') }}">
		<link rel="stylesheet" href="{{ asset('css/front/css/new.css') }}">
		<link rel="stylesheet" href="{{ asset('css/front/css/app.css')}}">
		<link rel="stylesheet" href="{{ asset('css/front/css/canvas_style.css') }}">
		<link rel="stylesheet" href="{{ asset('css/front/css/services.css') }}">
		
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="stylesheet" href="{{ asset('css/front/css/form_call_back.css')}}">
	</head>
	<body class="page">

		{#<div class="lm-animated-bg"></div>#}

		<!-- Loading animation -->
		{#<div class="preloader">
			<div class="preloader-animation">
				<div class="preloader-spinner"></div>
			</div>
		</div>#}
		<!-- /Loading animation -->

		<!-- Scroll To Top Button -->
		<div class="lmpixels-scroll-to-top">
			<i class="lnr lnr-chevron-up"></i>
		</div>
		<!-- /Scroll To Top Button -->

		<div class="page-scroll">
			<div id="page_container" class="page-container bg-move-effect">
				{% block navbar %}
					{% include "front/includes/nav.html.twig" %}
				{% endblock %}
				{#<section class="container-fluid">
					<div id="cookie-consent" class="position-fixed bg-primary text-center" style="bottom:0;z-index: 99999;left: 0;right:0;">
						<p class="text-white">
							Nous utilisons des cookies pour améliorer votre expérience. En acceptant, vous consentez à l'utilisation de ces cookies à des fins non commerciales.
						</p>
						<button id="refuse-cookies" class="btn btn-danger mb-3">Je refuse</button>
						<button id="accept-cookies" class="btn btn-success mb-3">J'accepte</button>
					</div>
					<div id="cookie-refused-message" class="position-fixed bg-danger text-center" style="display: none; bottom: 0; z-index: 99999; left: 0; right: 0;">
						<p class="text-white">
							Vous avez refusé l'utilisation des cookies. Certains fonctionnalités peuvent ne pas fonctionner correctement.
						</p>
					</div>
				</section>#}

				<div class="container">
					{% for type, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ type }}">{{ message }}</div>
						{% endfor %}
					{% endfor %}
				</div>
				{% block content %} {% endblock %}

				{% include "front/includes/footer.html.twig" %}

			</div>
		</div>

		<!-- Front script -->
		{% block javascripts %}

    		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
			{{ encore_entry_script_tags('imagesloaded') }}
			<script src="{{ asset('js/modernizr.custom.js') }}"></script>
			{# <script src="{{ asset('js/jquery.shuffle.min.js') }}"></script> #}
			<script src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
			<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
			{{ encore_entry_script_tags('validator') }}
			{{ encore_entry_script_tags('main') }}
			<script src="{{ asset('js/jquery.shuffle.min.js')}}"></script>

			<script src="{{ asset('assets/js/user.js') }}"></script>



			{#  <script src="{{ asset('js/pSubjects.js')}}"></script>#}
			{#	<script src="{{ asset('js/app.js')}}"></script> #}


			<script>
				document.addEventListener("DOMContentLoaded", function() {
					const navbarMenu = document.getElementById("menu");
					const burgerMenu = document.getElementById("burger");
					const headerMenu = document.getElementById("header");
					const overlayMenu = document.querySelector(".overlay");

					// Open Close Navbar Menu on Click Burger
					if (burgerMenu && navbarMenu) {
						burgerMenu.addEventListener("click", () => {
							burgerMenu.classList.toggle("is-active");
							navbarMenu.classList.toggle("is-active");
						});
					}

					// Close Navbar Menu on Click Links
					document.querySelectorAll(".menu-link").forEach((link) => {
						link.addEventListener("click", () => {
							burgerMenu.classList.remove("is-active");
							navbarMenu.classList.remove("is-active");
						});
					});

					// Fixed Navbar Menu on Window Resize
					window.addEventListener("resize", () => {
						if (window.innerWidth <= 750) {
							if (navbarMenu.classList.contains("is-active")) {
								navbarMenu.classList.remove("is-active");
								overlayMenu.classList.remove("is-active");
							}
						}
					})
				})
			</script>
			{#<script>
				document.getElementById('accept-cookies').addEventListener('click', function() {
					document.getElementById('cookie-consent').style.display = 'none';
					// Définir le cookie pour indiquer que l'utilisateur a accepté
					document.cookie = "cookie-consent=true; path=/";
				});

				document.getElementById('refuse-cookies').addEventListener('click', function() {
					document.getElementById('cookie-consent').style.display = 'none';

					// Afficher le message de refus
					const refusedMessage = document.getElementById('cookie-refused-message');
					refusedMessage.style.display = 'block';
					setTimeout(() => {
						refusedMessage.style.display = 'none';
					}, 5000);  // Ce message disparaîtra après 5 secondes.

					// Définir le cookie pour indiquer que l'utilisateur a refusé
					document.cookie = "cookie-consent=false; path=/";
				});

				// Vérifier si le cookie d'acceptation existe déjà
				if (document.cookie.split(';').some((item) => item.trim().startsWith('cookie-consent='))) {
					document.getElementById('cookie-consent').style.display = 'none';
				} else {
					document.getElementById('cookie-consent').style.display = 'block';
				}
			</script>#}
			{#
			<script>
			// 	$('.home_carousel').owlCarousel({
			// 		loop:false,
			// 		margin:10,
			// 		responsiveClass:true,
			// 		responsive:{
			// 			0:{
			// 				items:1,
			// 				nav:true
			// 			},
			// 			600:{
			// 				items:3,
			// 				nav:false
			// 			},
			// 			1000:{
			// 				items:5,
			// 				nav:true,
			// 				loop:false
			// 			}
			// 		}
			// 	})
			</script>#}

			<script defer src="https://stats.youss.dev/script.js" data-website-id="2f81360d-92bc-460b-bcd6-81ba64683e42"></script>
		{% endblock %}
	</body>
</html>
