<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="ScriptZenIT - Création de site internet et applications de qualités"/>
		<meta name="keywords" content="Site web, Identité numérique, conseils site internet"/>
		<meta content="Walid BELBECHE" name="author"/>
		<title>
			{% block title %}Walid BELBECHE
			{% endblock %}
		</title>
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('medias/favicon/favicon-16x16.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('medias/favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('medias/favicon/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('medias/favicon/site.webmanifest') }}">
		<link
		rel="icon" href="{{ asset('medias/favicon/favicon.ico') }}">

		<!-- Global CSS -->
		<link rel="stylesheet" href="{{ asset('css/front/css/bootstrap.min.css') }}">
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="{{ asset('css/front/css/about.css')}}">
		<link rel="stylesheet" href="{{ asset('css/front/css/app.css')}}">
		<link rel="stylesheet" href="{{ asset('css/front/css/new.css') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body class="page">

		<div class="lm-animated-bg"></div>

		<!-- Loading animation -->
		<div class="preloader">
			<div class="preloader-animation">
				<div class="preloader-spinner"></div>
			</div>
		</div>
		<!-- /Loading animation -->

		<!-- Scroll To Top Button -->
		<div class="lmpixels-scroll-to-top">
			<i class="lnr lnr-chevron-up"></i>
		</div>
		<!-- /Scroll To Top Button -->

		<div class="page-scroll">
			<div id="page_container" class="page-container bg-move-effect">


				{% block navbar %}
					{% include "front/includes/nav.html.twig" %}
				{% endblock %}
				<section class="container-fluid">
					<div id="cookie-consent" class="position-fixed bg-primary text-center" style="bottom:0;z-index: 99999;left: 0;right:0;">
						<p class="text-white">
							Nous utilisons des cookies pour améliorer votre expérience. En acceptant, vous consentez à l'utilisation de ces cookies à des fins non commerciales.
						</p>
						<button id="refuse-cookies" class="btn btn-danger mb-3">Je refuse</button>
						<button id="accept-cookies" class="btn btn-success mb-3">J'accepte</button>
					</div>
					<div id="cookie-refused-message" class="position-fixed bg-danger text-center" style="display: none; bottom: 0; z-index: 99999; left: 0; right: 0;">
						<p class="text-white">
							Vous avez refusé l'utilisation des cookies. Certains fonctionnalités peuvent ne pas fonctionner correctement.
						</p>
					</div>
				</section>

				{% block content %}{% endblock %}

				<!-- Footer -->
				<footer class="site-footer clearfix">
					<div class="footer-social">
						<ul class="footer-social-links">
							<li>
								<a href="https://github.com/belbeche" target="_blank">Github</a>
							</li>

							<li>
								<a href="https://www.linkedin.com/in/walid-belbeche/" target="_blank">LinkedIn</a>
							</li>

							<li>
								<a href="{{ url('front_project') }}" target="_self">Mes réalisations</a>
							</li>
						</ul>
					</div>

					<div class="footer-copyrights">
						<div class="footer-legales ml-auto">
							&copy; ScriptZenIT - 2023
							<ul class="footer-social-links">
								<li>
									<a href="{{  url('front_mentions') }}">Mentions légales</a>
								</li>

								<li>
									<a href="{{ url('front_conditions') }}">Conditions générales</a>
								</li>
								{#<li><a href="#Données personnelles">Données personnelles</a></li>#}
							</ul>
						</div>
					</div>
				</footer>
				<!-- /Footer -->

			</div>
		</div>

		<!-- Front script -->
		{% block javascripts %}
			<script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('imagesloaded') }}
			<script src="{{ asset('js/modernizr.custom.js') }}"></script>
			{# <script src="{{ asset('js/jquery.shuffle.min.js') }}"></script> #}
			<script src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
			{{ encore_entry_script_tags('owl.carousel') }}
			<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
			{{ encore_entry_script_tags('validator') }}
			{{ encore_entry_script_tags('main') }}
			<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
			<script src="{{ asset('js/jquery.shuffle.min.js')}}"></script>
			{#  <script src="{{ asset('js/particles.js')}}"></script>#}
			{#	<script src="{{ asset('js/app.js')}}"></script> #}
			<script src="{{ asset('js/pixel.min.js') }}"></script>
			<script src="{{ asset('js/front.js') }}"></script>
			<script>
				const navbarMenu = document.getElementById("menu");
				const burgerMenu = document.getElementById("burger");
				const headerMenu = document.getElementById("header");
				const overlayMenu = document.querySelector(".overlay");

				// Open Close Navbar Menu on Click Burger
				if (burgerMenu && navbarMenu) {
					burgerMenu.addEventListener("click", () => {
						burgerMenu.classList.toggle("is-active");
						navbarMenu.classList.toggle("is-active");
					});
				}

				// Close Navbar Menu on Click Links
				document.querySelectorAll(".menu-link").forEach((link) => {
					link.addEventListener("click", () => {
						burgerMenu.classList.remove("is-active");
						navbarMenu.classList.remove("is-active");
					});
				});

				// Fixed Navbar Menu on Window Resize
				window.addEventListener("resize", () => {
					if (window.innerWidth >= 992) {
						if (navbarMenu.classList.contains("is-active")) {
							navbarMenu.classList.remove("is-active");
							overlayMenu.classList.remove("is-active");
						}
					}
				});

				// Dark and Light Mode on Switch Click
				/*document.addEventListener("DOMContentLoaded", () => {
					const darkSwitch = document.getElementById("switch");

					darkSwitch.addEventListener("click", () => {
						document.documentElement.classList.toggle("darkmode");
						document.body.classList.toggle("darkmode");
					});
				});*/

			</script>
			<script>
				document.getElementById('accept-cookies').addEventListener('click', function() {
					document.getElementById('cookie-consent').style.display = 'none';
					// Définir le cookie pour indiquer que l'utilisateur a accepté
					document.cookie = "cookie-consent=true; path=/";
				});

				document.getElementById('refuse-cookies').addEventListener('click', function() {
					document.getElementById('cookie-consent').style.display = 'none';

					// Afficher le message de refus
					const refusedMessage = document.getElementById('cookie-refused-message');
					refusedMessage.style.display = 'block';
					setTimeout(() => {
						refusedMessage.style.display = 'none';
					}, 5000);  // Ce message disparaîtra après 5 secondes.

					// Définir le cookie pour indiquer que l'utilisateur a refusé
					document.cookie = "cookie-consent=false; path=/";
				});

				// Vérifier si le cookie d'acceptation existe déjà
				if (document.cookie.split(';').some((item) => item.trim().startsWith('cookie-consent='))) {
					document.getElementById('cookie-consent').style.display = 'none';
				} else {
					document.getElementById('cookie-consent').style.display = 'block';
				}
			</script>
		{% endblock %}
	</body>
</html>
