<!DOCTYPE html>
<html lang="fr" data-theme="light">
	<head>
		<meta charset="UTF-8">
		<meta name="language" content="fr">
		<meta name="robots" content="index, follow">
		<meta name="created" content="2023-08-24">
		<meta name="image" content="https://scriptzenit.fr/assets/img/logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="Découvrez les services de ScriptZenIT : spécialistes en création de sites internet et d'applications de qualité. De la conception ergonomique au développement technique, je vous accompagne pour donner vie à vos idées en ligne."/>
		<meta name="keywords" content="création site web, développement web, conception site internet, design web, identité numérique, conseils site internet, agence web, applications web, sites responsives, UX/UI, développement d'applications, solutions digitales"/>
		<meta content="Walid BELBECHE" name="author"/>
		<title>
			{% block title %}ScriptZenIT - Création de Sites Internet et Applications de Qualité
			{% endblock %}
		</title>
		<!-- Favicon -->
		{#<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('medias/favicon/favicon-16x16.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('medias/favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('medias/favicon/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('medias/favicon/site.webmanifest') }}">
		<link
		rel="icon" href="{{ asset('medias/favicon/favicon.ico') }}">#}
		{#<link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/fav.png') }}">#}
		<!-- Global CSS -->

		<!-- Front CSS -->
		<link rel="stylesheet" href="{{ asset('assets/front/css/plugins/fontawesome-6.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/front/css/plugins/swiper.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/front/css/vendor/metismenu.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/front/css/plugins/animate.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/front/css/vendor/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/front/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/front/css/plugins/unicons.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/front/css/app.css')}}">



		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-19D64W6342"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-19D64W6342');
		</script>
	</head>
	<body class="index-one">

		<!-- pre loader start -->
		<div class="rts-cursor cursor-outer" data-default="yes" data-link="yes" data-slider="no">
			<span class="fn-cursor"></span>
		</div>
		<div class="rts-cursor cursor-inner" data-default="yes" data-link="yes" data-slider="no">
			<span class="fn-cursor">
			<span class="fn-left"></span>
			<span class="fn-right"></span>
			</span>
		</div>
		<!-- pre loader end -->

		<div class="page-scroll">
			<div id="page_container" class="page-container bg-move-effect">

				<!-- dark light switcher start-->
				{# <div class="modal-sidebar-scroll rts-dark-light">
					<ul>
						<li class="go-dark-w"><span>Mode sombre</span><i class="rts-go-dark fal fa-moon"></i></li>
						<li class="go-light-w"><span>Mode éclairé</span><i class="rts-go-light fa-light fa-brightness"></i></li>
					</ul>
				</div> #}
				<!-- dark light switcher end -->
				{% block navbar %}
					{% include "front/includes/nav.html.twig" %}
				{% endblock %}
				{#<section class="container-fluid">
					<div id="cookie-consent" class="position-fixed bg-primary text-center" style="bottom:0;z-index: 99999;left: 0;right:0;">
						<p class="text-white">
							Nous utilisons des cookies pour améliorer votre expérience. En acceptant, vous consentez à l'utilisation de ces cookies à des fins non commerciales.
						</p>
						<button id="refuse-cookies" class="btn btn-danger mb-3">Je refuse</button>
						<button id="accept-cookies" class="btn btn-success mb-3">J'accepte</button>
					</div>
					<div id="cookie-refused-message" class="position-fixed bg-danger text-center" style="display: none; bottom: 0; z-index: 99999; left: 0; right: 0;">
						<p class="text-white">
							Vous avez refusé l'utilisation des cookies. Certains fonctionnalités peuvent ne pas fonctionner correctement.
						</p>
					</div>
				</section>#}

				{% block content %}{% endblock %}

				{% block footer %}
					{% include "front/includes/footer.html.twig" %}
				{% endblock %}

				<!-- Spinner -->
				<div class="loading-screen" id="loading-screen">
					<span class="bar top-bar"></span>
					<span class="bar down-bar"></span>
					<span class="progress-line"></span>
					{#<span class="loading-counter"> </span>#}
					<span>ScriptZenIT - BIENVENUE</span>
				</div>

			</div>
		</div>

		<!-- Front script -->
		<script src="{{ asset('assets/front/js/vendor/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/bootstrap.min.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/contact.form.js') }}"></script>
		<script src="{{ asset('assets/front/js/vendor/waypoint.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/swiper.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/resizer-sensor.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/sticky-sidebar.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/isotop.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/imagesloaded.pkgd.min.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/smoothscroll-varticle.js') }}"></script>
		<script src="{{ asset('assets/front/js/vendor/gsap.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/scrolltiger.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/scrolltoplugin.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/splittext.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/smoothscroll.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/scrollmagic.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/tilt.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/counterup.js') }}"></script>
		<script src="{{ asset('assets/front/js/vendor/waw.js') }}"></script>
		<script src="{{ asset('assets/front/js/main.js') }}"></script>
		<!-- Additional Dist -->
		<script src="{{ asset('assets/front/js/vendor/js.cookie.js') }}"></script>
		<script src="{{ asset('assets/front/js/vendor/metismenu.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/animate-scrollmagic.js') }}"></script>
		<script src="{{ asset('assets/front/js/plugins/rule-plugins.js') }}"></script>
	</body>
</html>
