<h2>Voici un récapitulatif de votre demande sur la plateforme <a href="https://scriptzenit.fr">ScriptZenIT</a></h2>
<p><strong>Prénom :</strong> {{ contact.firstName }}</p>
<p><strong>Nom :</strong> {{ contact.lastName }}</p>
<p><strong>Email :</strong> {{ contact.email }}</p>
<p><strong>Téléphone :</strong> {{ contact.phone }}</p>
<p><strong>Service :</strong> {{ contact.service }}</p>
<p><strong>Message :</strong> {{ contact.content }}</p>