{% extends 'base_back.html.twig' %}

{% block content %}
    <div class="container mt-4">
        <h1>Modifier le projet {{ project.title }}</h1>

        <hr>

        {% if app.request.attributes.get('_route') == 'back_project_edit' %}

            <h2>Gestion des images</h2>
                <div>
                    {#<img src="{{ asset('public/upload_images_project/'~image.name) }}" alt="{{ image.name }}" width="150">#}

                    {# We add a link to delete an image (will be managed in Ajax in images.js) #}

                    {#<a href="{{ path('back_articles_remove_image', {name: image.name})}}" data-delete data-token="{{ csrf_token('delete' ~image.name )}}">
                        <i class="bi bi-file-earmark-x"></i>
                        Supprimer
                    </a>#}

                </div>
        {% endif %}
        <br>
        {% include 'back/includes/_project_form.html.twig' %}
    </div>
{% endblock %}