{% extends 'base_back.html.twig' %}

{% block content %}

    <h1>sujets</h1>

    <a href="{{ url('back_subjects_new') }}">Ajouter un nouvel subject</a>

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <table class="table-light">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Categorie</th>
                <th>Date de création</th>
                <th>Auteure</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.id }}</td>
                    <td>{{ subject.title}}</td>
                    <td>
                        {% for category in subject.categories %}
                            {{ category.name }} {% if loop.last != true %}/{% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ subject.createdAt|date('d-m-Y') }}</td>
                    <td>{{ subject.user.username }}</td>
                    <td>
                        {% if subject.active == true %}
                            Activé
                        {% else %}
                            Désactivé
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('back_subjects_show', {title: subject.title }) }}">Voir</a>
                        <a href="{{ url('back_subjects_edit', {title: subject.title }) }}">Editer</a>
                        <a href="{{ url('back_subjects_disable', {id: subject.id }) }}">Désactivé</a>
                        <a href="{{ url('back_subjects_remove', {title: subject.title }) }}">Supprimé</a>
                    </td>
                </tr>
            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(subjects) }}
            </div>
        </tbody>
    </table>

{% endblock %}
