{% extends 'base_back.html.twig' %}

{% block content %}

    <h1>Subjects</h1>

    <a href="{{ url('back_Subjects_new') }}">Ajouter un nouvel Subject</a>

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <table class="table-light">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Categorie</th>
                <th>Date de création</th>
                <th>Auteure</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Subject in Subjects %}
                <tr>
                    <td>{{ Subject.id }}</td>
                    <td>{{ Subject.title}}</td>
                    <td>
                        {% for category in Subject.categories %}
                            {{ category.name }} {% if loop.last != true %}/{% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ Subject.createdAt|date('d-m-Y') }}</td>
                    <td>{{ Subject.user.username }}</td>
                    <td>
                        {% if Subject.active == true %}
                            Activé
                        {% else %}
                            Désactivé
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('back_Subjects_show', {title: Subject.title }) }}">Voir</a>
                        <a href="{{ url('back_Subjects_edit', {title: Subject.title }) }}">Editer</a>
                        <a href="{{ url('back_Subjects_disable', {id: Subject.id }) }}">Désactivé</a>
                        <a href="{{ url('back_Subjects_remove', {title: Subject.title }) }}">Supprimé</a>
                    </td>
                </tr>
            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(Subjects) }}
            </div>
        </tbody>
    </table>

{% endblock %}
