{% extends 'base_back.html.twig' %}

{% block content %}
    <div class="container">

        <div class="card">
            {#{% for image in subject.images %}
                <img src="{{ asset('uploads/' ~ image.name) }}" alt="{{ subject.title }}" class="img-fluid">
            {% endfor %}#}
        </div>

        <h1>{{ subject.title }}</h1><br>
        <p>Par {{ subject.user.username }}</p>
        <img src="{{ asset('uploads/avatar/' ~subject.user.avatar) }}" alt="{{ subject.user.username }}" class="rounded-0 img-thumbnail" width="50" height="50">

        <pre>
            <code>
                {{ subject.content|raw }}
            </code>
        </pre>

        <p>
            Crée le : {{ subject.createdAt|format_datetime('full', 'short', locale='fr') }}
        </p>
        <p>
            Modifier le :  {{ subject.updatedAt|format_datetime('full', 'short', locale='fr') }}
        </p>

        <a href="{{ path('front_subjects_show', {'subjectTitle': subject.title}) }}">Voir le sujet</a>
        
    </div>

{% endblock %}